@{
	ViewBag.Title = "Settings";
}
<link href="~/Content/buttermilk-overrides.css" rel="stylesheet"/>
<link href="~/Content/modals.min.css" rel="stylesheet" />

<table id="summaryPage" class="innerTabTable">
	<tr>
		<td>
			<table>
				<tr>
					<td class="editTableColumn">
						<table>
							<tr>
								<td class="dynamicViewFieldName">Name:</td>
								<td class="dynamicViewFieldValue" data-bind="text: name"></td>
							</tr>
							<tr>
								<td class="dynamicViewFieldName">Export Type:</td>
								<td class="dynamicViewFieldValue" data-bind="text: exportType"></td>
							</tr>
							<tr>
								<td class="dynamicViewFieldName">Source Details:</td>
								<td class="dynamicViewFieldValue" data-bind="text: sourceDetails"></td>
							</tr>
							<tr>
								<td class="dynamicViewFieldName">Source Workspace:</td>
								<td class="dynamicViewFieldValue" data-bind="text: sourceWorkspace"></td>
							</tr>
							<tr data-bind="visible: showInstanceInfo">
								<td class="dynamicViewFieldName">Source Relativity Instance:</td>
								<td class="dynamicViewFieldValue" data-bind="text: sourceRelativityInstance"></td>
							</tr>
							<tr>
								<td class="dynamicViewFieldName">Transfered Object:</td>
								<td class="dynamicViewFieldValue" data-bind="text: destinationRdoName"></td>
							</tr>
							<tr>
								<td class="dynamicViewFieldName">Destination Workspace:</td>
								<td class="dynamicViewFieldValue" data-bind="text: targetWorkspace"></td>
							</tr>
							<tr data-bind="visible: showTargetFolder">
								<td class="dynamicViewFieldName">Destination Folder:</td>
								<td class="dynamicViewFieldValue" data-bind="text: targetFolder"></td>
							</tr>
							<tr data-bind="visible: showTargetProductionSet">
								<td class="dynamicViewFieldName">Destination Production Set:</td>
								<td class="dynamicViewFieldValue" data-bind="text: targetProductionSet"></td>
							</tr>
							<tr>
								<td class="dynamicViewFieldName">Overwrite:</td>
								<td class="dynamicViewFieldValue" id="overwriteType" data-bind="text: overwriteMode"></td>
							</tr>
							<tr>
								<td class="dynamicViewFieldName">Multi Select Overlay:</td>
								<td class="dynamicViewFieldValue" data-bind="text: multiSelectOverlay"></td>
							</tr>
							<tr data-bind="visible: !isNonDocumentSyncFlow">
								<td class="dynamicViewFieldName" >Use Folder Path Info:</td>
								<td class="dynamicViewFieldValue" data-bind="text: useFolderPathInfo"></td>
							</tr>
							<tr data-bind="visible: !copyImages() && !isNonDocumentSyncFlow">
								<td class="dynamicViewFieldName">Move Existing Docs:</td>
								<td class="dynamicViewFieldValue" data-bind="text: moveExistingDocs"></td>
							</tr>
							<tr data-bind="visible: copyImages()">
								<td class="dynamicViewFieldName">Image Precedence:</td>
								<td class="dynamicViewFieldValue" data-bind="text: precedenceSummary"></td>
							</tr>
							<tr data-bind="visible: copyImages()">
								<td class="dynamicViewFieldName">Copy Files to Repository:</td>
								<td class="dynamicViewFieldValue" data-bind="text: copyFilesToRepository"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<td class="editTableColumn">
						<table>
							<tr>
								<td class="dynamicViewFieldName">Log Errors:</td>
								<td class="dynamicViewFieldValue" data-bind="text: logErrors"></td>
							</tr>
							<tr>
								<td class="dynamicViewFieldName">Has Errors:</td>
								<td class="dynamicViewFieldValue" data-bind="text: hasErrors"></td>
							</tr>
							<tr>
								<td class="dynamicViewFieldName">Email Notification Recipients:</td>
								<td class="dynamicViewFieldValue" data-bind="text: emailNotification"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table data-bind="visible: !isNonDocumentSyncFlow">
				<tr>
					<td class="editTableColumn">
						<table>
							<tr>
								<td class="dynamicViewFieldName">Total of Documents:</td>
								<td class="dynamicViewFieldValue" data-bind="text: stats.documents"></td>
							</tr>
							<tr data-bind="visible: importNativeFile() && !importImageFile()">
								<td class="dynamicViewFieldName">Total of Natives:</td>
								<td class="dynamicViewFieldValue" data-bind="text: stats.natives"></td>
							</tr>
							<tr data-bind="visible: importImageFile()">
								<td class="dynamicViewFieldName">Total of Images:</td>
								<td class="dynamicViewFieldValue" data-bind="text: stats.images"></td>
							</tr>
							<tr>
								<td class="dynamicViewFieldName">Create Saved Search:</td>
								<td class="dynamicViewFieldValue" data-bind="text: createSavedSearch"></td>
							</tr>
							<tr>
                                <td class="dynamicViewFieldName">Tag Documents with Job Name:</td>
								<td class="dynamicViewFieldValue" data-bind="text: enableTagging"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<script src="~/Scripts/RelativityProvider/relativity-provider-summary-page.js"></script>
<script src="~/Scripts/integration-point/summary-page-statistics.js"></script>