<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="SavedSearchArtifactName" value="All Documents" /> 
		<add key="AdditionalFieldNames" value="Email BCC,Email CC,Email From,Email To" />
		<add key="DestinationPath" value="c:\RIP_ExportTest" />
		<add key="rsapClientUri" value="http://localhost/Relativity.Services" />
		<add key="WebApiUrl" value="http://localhost/RelativityWebApi/" />
		<add key="userName" value="relativity.admin@kcura.com" />
		<add key="password" value="Test1234!" />
		<add key="targetHost" value="localhost" />
		<add key="connectionString" value="data source=localhost; initial catalog=EDDS;persist security info=False;user id=EDDSdbo;password=P@ssw0rd@1; workstation id=localhost;packet size=4096" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.FullNetFx" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="kCura.Image.Viewer" publicKeyToken="78cb9311e6f3ec3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.4.241.2" newVersion="9.4.241.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="kCura.Print" publicKeyToken="2cc1b8ab562ca316" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.4.241.2" newVersion="9.4.241.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>