<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="WorkspaceName" value="TestExport2"/>
		
		<!--TODO: name of the saved search should be retrieved through RSAPI/REST: -->
		<add key="SavedSearchArtifactName" value="All Documents"/> 
		<add key="SelectedFieldNames" value="Control Number,Email BCC,Email CC,Email From,Email To,File Name"/>
		<add key="DestinationPath" value="e:\RIP_ExportTest"/>
		<add key="rsapClientUri" value="http://localhost/Relativity.Services" />
		<add key="WebApiUrl" value="http://localhost/RelativityWebApi/" />
		<add key="userName" value="relativity.admin@kcura.com" />
		<add key="password" value="Test1234!" />
		<add key="targetHost" value="localhost" />
		<add key="connectionString" value="data source=localhost; initial catalog=EDDS;persist security info=False;user id=EDDSdbo;password=P@ssw0rd@1; workstation id=localhost;packet size=4096" />
	</appSettings>
</configuration>