<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="WorkspaceName" value="Test1"/>
		<add key="SavedSearchArtifactId" value="1038052"/>
		<add key="DefaultSelectedFieldIds" value="1003667,1035364,1035365,1035366, 1038075,1038083,1035374"/>
		<add key="DestinationPath" value="e:\ExportDumps"/>
		<add key="rsapClientUri" value="http://localhost/Relativity.Services" />
		<add key="userName" value="relativity.admin@kcura.com" />
		<add key="password" value="Test1234!" />
		<add key="connectionString" value="data source=localhost; initial catalog=EDDS;persist security info=False;user id=EDDSdbo;password=P@ssw0rd@1; workstation id=localhost;packet size=4096" />
	</appSettings>
</configuration>