<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net451" />
  <package id="kCura.Relativity.Client" version="9.4.212.3" targetFramework="net451" />
  <package id="kCuraCore" version="9.4.212.3" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" />
  <package id="Relativity.ImportExport" version="9.4.212.3" targetFramework="net451" />
  <package id="Relativity.Kepler" version="1.0.1.149" targetFramework="net451" />
  <package id="Relativity.Kepler.Client" version="1.0.1.149" targetFramework="net451" />
  <package id="Relativity.Services.DataContracts" version="9.4.212.3" targetFramework="net451" />
  <package id="Relativity.Telemetry.DataContracts.Shared" version="9.4.69" targetFramework="net451" />
  <package id="Relativity.Telemetry.MetricsCollection" version="9.4.69" targetFramework="net451" />
</packages>