<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="kCura.Config" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	<appSettings>
		<add key="ServerBindingType" value="https" />
		<add key="RelativityInstanceAddress" value="reg-a.r1.kcura.com" />		
		<add key="RSAPIServerAddress" value="reg-a-services.r1.kcura.com"/>

		<add key="AdminUsername" value="your.name@relativity.com" />
		<add key="AdminPassword" value="Test123#" />

		<!--
		If non-empty, this workspace will be used in tests instead of new one.
		It won't be deleted after test run.
		-->
		<add key="UI.UseThisExistingWorkspace" value=""/>

		<add key="UI.SkipUserCreation" value="true" />

		<add key="UI.SkipDocumentImport" value="false"/>

		<add key="UI.UseTapiForFileCopy" value="true"/>

		<add key="UI.TemplateWorkspace" value="RelativityOne Quick Start Template"/>

		<add key="UI.TimeoutMultiplier" value="1.5"/>

	</appSettings>
</configuration>
