<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="kCura.Config" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	<appSettings>
		<add key="ProtocolVersion" value="https" />
		<add key="RelativityInstanceAddress" value="regression-a-services.r1.kcura.com" />		
		<add key="targetHost" value="regression-a.r1.kcura.com" />
		<add key="targetDbHost" value="TBD" />
		
		<add key="databasePassword" value="P@ssw0rd@1" />

		<add key="AdminUsername" value="changeme@relativity.com" />
		<add key="AdminPassword" value="Test1234!" />
		<add key="relativityUserName" value="changeme@relativity.com" />
		<add key="relativityPassword" value="Test1234!" />
		<add key="databaseUserId" value="EDDSdbo" />
		<add key="connectionStringEDDS" value="data source=TBD;initial catalog=EDDS;persist security info=False;user id={1};password={2}; workstation id={0};packet size=4096" />
		<add key="connectionStringWorkspace" value="data source=TBD; initial catalog=EDDS{0};persist security info=False;user id={2};password={3}; workstation id={1};packet size=4096" />
		
	</appSettings>
</configuration>