<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="kCura.Config" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	<appSettings>
		<add key="ProtocolVersion" value="https" />
		<add key="RelativityInstanceAddress" value="[YOUR VM].kcura.corp" />
		<add key="RelativityWebAddress" value="[YOUR VM].kcura.corp" />

		<add key="AdminUsername" value="relativity.admin@relativity.com" />
		<add key="AdminPassword" value="Test1234!" />

		<add key="ftpConnectionPath" value="IL1DDMLPL3AG001.kcura.corp" />
		<add key="ftpUsername" value="ftpuser" />
		<add key="ftpPassword" value="ftppass" />

		<!--
		If non-empty, this workspace will be used in tests instead of new one.
		It won't be deleted after test run.
		-->
		<add key="UI.UseThisExistingWorkspace" value=""/>

		<!--  -->
		<add key="UI.UseTapiForFileCopy" value="true"/>

		<add key="UI.TemplateWorkspace" value="RelativityOne Quick Start Template"/>

		<add key="fileshareLocation" value="\\***\fileshare"/>
	</appSettings>
</configuration>