body,h1,html{font-family:Arial,Helvetica,sans-serif}
a,button{cursor:pointer}
a,a:hover{color:#1b54ab}
h1,h4{margin:0 0 1em;text-transform:none}
@keyframes moveInDown{0%{transform:translate3d(0,-100%,0)}
100%{transform:none}
}
@keyframes moveInUp{0%{transform:translate3d(0,100%,0)}
100%{transform:none}
}
@keyframes moveInLeft{0%{transform:translate3d(-100%,0,0)}
100%{transform:none}
}
@keyframes moveInRight{0%{transform:translate3d(100%,0,0)}
100%{transform:none}
}
@keyframes moveOutDown{0%{transform:none}
100%{transform:translate3d(0,100%,0)}
}
@keyframes moveOutUp{0%{transform:none}
100%{transform:translate3d(0,-100%,0)}
}
@keyframes moveOutLeft{0%{transform:none}
100%{transform:translate3d(-100%,0,0)}
}
@keyframes moveOutRight{0%{transform:none}
100%{transform:translate3d(100%,0,0)}
}
@keyframes fadeIn{0%{opacity:0;display:block}
100%{opacity:1}
}
.fade-in{animation:fadeIn 1s;animation-duration:1s;animation-fill-mode:both}
.fade-in.infinite{animation-interaction-count:infinite}
.fade-in.animate-slow{animation:fadeIn 2s;animation-duration:2s;animation-fill-mode:both}
.fade-in.animate-slow.infinite{animation-interaction-count:infinite}
.fade-in.animate-fast{animation:fadeIn .5s;animation-duration:.5s;animation-fill-mode:both}
.fade-in.animate-fast.infinite{animation-interaction-count:infinite}
.fade-in-down{animation:fadeIn 1s,moveInDown 1s;animation-duration:1s;animation-fill-mode:both}
.fade-in-down.infinite{animation-interaction-count:infinite}
.fade-in-down.animate-slow{animation:fadeIn 2s,moveInDown 2s;animation-duration:2s;animation-fill-mode:both}
.fade-in-down.animate-slow.infinite{animation-interaction-count:infinite}
.fade-in-down.animate-fast{animation:fadeIn .5s,moveInDown .5s;animation-duration:.5s;animation-fill-mode:both}
.fade-in-down.animate-fast.infinite{animation-interaction-count:infinite}
.fade-in-up{animation:fadeIn 1s,moveInUp 1s;animation-duration:1s;animation-fill-mode:both}
.fade-in-up.infinite{animation-interaction-count:infinite}
.fade-in-up.animate-slow{animation:fadeIn 2s,moveInUp 2s;animation-duration:2s;animation-fill-mode:both}
.fade-in-up.animate-slow.infinite{animation-interaction-count:infinite}
.fade-in-up.animate-fast{animation:fadeIn .5s,moveInUp .5s;animation-duration:.5s;animation-fill-mode:both}
.fade-in-up.animate-fast.infinite{animation-interaction-count:infinite}
.fade-in-left{animation:fadeIn 1s,moveInLeft 1s;animation-duration:1s;animation-fill-mode:both}
.fade-in-left.infinite{animation-interaction-count:infinite}
.fade-in-left.animate-slow{animation:fadeIn 2s,moveInLeft 2s;animation-duration:2s;animation-fill-mode:both}
.fade-in-left.animate-slow.infinite{animation-interaction-count:infinite}
.fade-in-left.animate-fast{animation:fadeIn .5s,moveInLeft .5s;animation-duration:.5s;animation-fill-mode:both}
.fade-in-left.animate-fast.infinite{animation-interaction-count:infinite}
.fade-in-right{animation:fadeIn 1s,moveInRight 1s;animation-duration:1s;animation-fill-mode:both}
.fade-in-right.infinite{animation-interaction-count:infinite}
.fade-in-right.animate-slow{animation:fadeIn 2s,moveInRight 2s;animation-duration:2s;animation-fill-mode:both}
.fade-in-right.animate-slow.infinite{animation-interaction-count:infinite}
.fade-in-right.animate-fast{animation:fadeIn .5s,moveInRight .5s;animation-duration:.5s;animation-fill-mode:both}
.fade-in-right.animate-fast.infinite{animation-interaction-count:infinite}
@keyframes fadeOut{0%{opacity:1}
99%{opacity:0}
100%{opacity:0;display:none}
}
.fade-out{animation:fadeOut 1s;animation-duration:1s;animation-fill-mode:both}
.fade-out.infinite{animation-interaction-count:infinite}
.fade-out.animate-slow{animation:fadeOut 2s;animation-duration:2s;animation-fill-mode:both}
.fade-out.animate-slow.infinite{animation-interaction-count:infinite}
.fade-out.animate-fast{animation:fadeOut .5s;animation-duration:.5s;animation-fill-mode:both}
.fade-out.animate-fast.infinite{animation-interaction-count:infinite}
.fade-out-down{animation:fadeOut 1s,moveOutDown 1s;animation-duration:1s;animation-fill-mode:both}
.fade-out-down.infinite{animation-interaction-count:infinite}
.fade-out-down.animate-slow{animation:fadeOut 2s,moveOutDown 2s;animation-duration:2s;animation-fill-mode:both}
.fade-out-down.animate-slow.infinite{animation-interaction-count:infinite}
.fade-out-down.animate-fast{animation:fadeOut .5s,moveOutDown .5s;animation-duration:.5s;animation-fill-mode:both}
.fade-out-down.animate-fast.infinite{animation-interaction-count:infinite}
.fade-out-up{animation:fadeOut 1s,moveOutUp 1s;animation-duration:1s;animation-fill-mode:both}
.fade-out-up.infinite{animation-interaction-count:infinite}
.fade-out-up.animate-slow{animation:fadeOut 2s,moveOutUp 2s;animation-duration:2s;animation-fill-mode:both}
.fade-out-up.animate-slow.infinite{animation-interaction-count:infinite}
.fade-out-up.animate-fast{animation:fadeOut .5s,moveOutUp .5s;animation-duration:.5s;animation-fill-mode:both}
.fade-out-up.animate-fast.infinite{animation-interaction-count:infinite}
.fade-out-left{animation:fadeOut 1s,moveOutLeft 1s;animation-duration:1s;animation-fill-mode:both}
.fade-out-left.infinite{animation-interaction-count:infinite}
.fade-out-left.animate-slow{animation:fadeOut 2s,moveOutLeft 2s;animation-duration:2s;animation-fill-mode:both}
.fade-out-left.animate-slow.infinite{animation-interaction-count:infinite}
.fade-out-left.animate-fast{animation:fadeOut .5s,moveOutLeft .5s;animation-duration:.5s;animation-fill-mode:both}
.fade-out-left.animate-fast.infinite{animation-interaction-count:infinite}
.fade-out-right{animation:fadeOut 1s,moveOutRight 1s;animation-duration:1s;animation-fill-mode:both}
.fade-out-right.infinite{animation-interaction-count:infinite}
.fade-out-right.animate-slow{animation:fadeOut 2s,moveOutRight 2s;animation-duration:2s;animation-fill-mode:both}
.fade-out-right.animate-slow.infinite{animation-interaction-count:infinite}
.fade-out-right.animate-fast{animation:fadeOut .5s,moveOutRight .5s;animation-duration:.5s;animation-fill-mode:both}
.fade-out-right.animate-fast.infinite{animation-interaction-count:infinite}
body,html{height:100%;margin:0;overflow:hidden;overflow-x:auto;width:100%;font-size:12px;line-height:1.5}
body{background-color:#fff}
article,footer,header,nav,section{display:block}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
button{font-family:inherit}
button:disabled{cursor:default}
label{color:#404040}
form{margin:0}
img{border:0;max-width:100%}
a{text-decoration:none}
a:hover{text-decoration:underline}
p{margin:0 0 1em}
em{font-style:italic}
h1{font-size:22px;font-weight:400}
h2,h3{font-weight:600;font-family:Arial,Helvetica,sans-serif}
h2{color:#3471b7;font-size:13px;margin:0 0 .75em}
h3{font-size:12px;margin:0 0 1em;text-transform:uppercase}
h4{font-family:Arial,Helvetica,sans-serif;font-size:18px;font-weight:700}