/*May need to get moved to vendor overrides*/
.ui-state-default .ui-icon {
	background: none;
}

.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	background: none;
	border: 0;
	color: inherit;
}

/*Grid*/
.ui-jqgrid.ui-widget-content {
	background-color: #006699;
	border: 2px solid #006699;
	color: #595959;
	font-weight: 600;
	overflow: hidden;
}

	/*Globals*/
	.ui-jqgrid .ui-state-hover a,
	.ui-jqgrid a {
		font-weight: 600;
		color: #006699;
		text-decoration: underline;
	}

		.ui-jqgrid .ui-state-hover a:hover {
			color: #102d4f;
			text-decoration: underline;
		}

	.ui-jqgrid .ui-sgcollapsed a,
	.ui-jqgrid .ui-sgcollapsed a:hover .ui-jqgrid tr.ui-state-hover .ui-sgcollapsed a {
		text-decoration: none !important;
	}

	/*Grid View*/
	.ui-jqgrid .ui-jqgrid-view {
		font-size: 11px;
	}

	/*Header*/
	.ui-jqgrid .ui-jqgrid-hbox {
		padding-right: 2px;
		float: none;
	}
		/*All headers*/
		.ui-jqgrid .ui-jqgrid-hbox .ui-th-column {
			background-color: inherit;
			color: inherit;
			height: 100%;
			padding-left: 0;
			text-align: left;
			white-space: normal;
		}

		/*Header Titles*/
		.ui-jqgrid .ui-jqgrid-hbox .ui-jqgrid-labels {
			border-bottom: 1px solid #177eb1;
			color: #ffffff;
			min-height: 22px;
			overflow: visible;
			text-transform: capitalize;
			white-space: normal;
			text-align: left;
		}

		.ui-jqgrid .ui-jqgrid-hbox .ui-jqgrid-labels .ui-th-div-ie {
			display: inline-block;
		}

		.ui-jqgrid .ui-jqgrid-hbox .ui-jqgrid-labels .ui-th-div-ie .cbox {
			margin-left: 5px;
		}

		.ui-th-div-ie span.icon-filter-collapse:before,
		.ui-th-div-ie span.icon:hover:before,
        .ui-jqgrid-sortable span.icon-filter-collapse:before,
        .ui-jqgrid-sortable span.icon:hover:before {
			color: #ffffff;
			display: inline-block;
			background-color: #006699;
			margin-left: 5px;
		}

		.ui-subgrid .ui-th-div-ie span.icon-filter-collapse:before,
        .ui-subgrid .ui-jqgrid-sortable span.icon-filter-collapse:before {
			background-color: #cccccc;
		}

			.ui-jqgrid .ui-jqgrid-hbox .ui-jqgrid-labels .ui-th-column {
				position: relative;
				background-color: inherit;
				text-align: left;
				padding-left: 5px;
			}

				.ui-jqgrid .ui-jqgrid-hbox .ui-jqgrid-labels .ui-th-column div {
					font-weight: 600;
					margin: 4px 0;
					width: 80%;
					text-overflow: ellipsis;
				}

					.ui-jqgrid .ui-jqgrid-hbox .ui-jqgrid-labels .ui-th-column div:first-child {
						overflow: visible;
						
					}
				/*Sort Icon*/
				.ui-jqgrid .ui-jqgrid-hbox .ui-jqgrid-labels .ui-th-column .ui-grid-ico-sort.sort-active {
					padding: 2px;
					position: static;
					opacity: 1;
				}

					.ui-jqgrid .ui-jqgrid-hbox .ui-jqgrid-labels .ui-th-column .ui-grid-ico-sort.sort-active:before {
						color: #ffffff !important;
					}

				.ui-jqgrid .ui-jqgrid-hbox .ui-jqgrid-labels .ui-th-column span.icon-priority.icon {
					visibility: visible;
				}
				.ui-jqgrid .ui-jqgrid-hbox .ui-jqgrid-labels .ui-th-column span.icon-priority.icon:hover {
					cursor: pointer;
				}
				.ui-jqgrid .ui-jqgrid-hbox .ui-jqgrid-labels .ui-th-column .icon-priority:hover:before {
					margin: 0;
					cursor: pointer;
				}
				.ui-jqgrid .ui-jqgrid-hbox .ui-jqgrid-labels .ui-th-column .icon-priority.icon:before {
					color: #ffffff;
				}

		/*Header Inputs*/
		.ui-jqgrid .ui-jqgrid-hbox .ui-search-toolbar {
			border-collapse: separate;
		}

			.ui-jqgrid .ui-jqgrid-hbox .ui-search-toolbar .ui-search-input {
				color: #ffffff;
			}

				.ui-jqgrid .ui-jqgrid-hbox .ui-search-toolbar .ui-search-input > input {
					background-color: #177eb1;
				}

					.ui-jqgrid .ui-jqgrid-hbox .ui-search-toolbar .ui-search-input > input:focus {
						border-color: #ffffff;
						box-shadow: 0 0 4px 0 #fff;
						font-weight: 400;
						color: #ffffff;
					}

				.ui-jqgrid .ui-jqgrid-hbox .ui-search-toolbar .ui-search-table a.clearsearchclass,
				.ui-jqgrid .ui-jqgrid-hbox .ui-search-toolbar .ui-search-table > span[class^="icon-"] {
					position: absolute;
					color: #1e5596;
					top: 0px;
					right: 8px;
					text-decoration: none;
				}

				.ui-jqgrid .ui-jqgrid-hbox .ui-search-toolbar .ui-search-input > span[class^="icon-"] {
					display: none;
				}

				.ui-jqgrid .ui-jqgrid-hbox .ui-search-toolbar .ui-search-table a.clearsearchclass {
					right: 15px;
					color: #ffffff;
				}

					.ui-jqgrid .ui-jqgrid-hbox .ui-search-toolbar .ui-search-input a.clearsearchclass:hover {
						color: #ffffff;
						cursor: pointer;
					}

	/*Body*/
	.ui-jqgrid .ui-jqgrid-bdiv {
		overflow-x: hidden;
		background-color: #ffffff;
	}

		.ui-jqgrid .ui-jqgrid-bdiv a {
		}

		.ui-jqgrid .ui-jqgrid-bdiv .ui-jqgrid-btable {
			background-color: #ffffff;
		}

			/*Rows*/
			.ui-subgrid.ui-state-highlight,
			.ui-jqgrid .ui-jqgrid-bdiv .ui-jqgrid-btable .jqgrow.ui-row-ltr.ui-state-highlight {
				background-color: #dfebf9;
			}

			.ui-jqgrid .ui-jqgrid-bdiv .ui-jqgrid-btable .jqgrow.ui-row-ltr {
				border-bottom: 1px solid #c6c6c6;
				border-top: 1px solid #c6c6c6;
				min-height: 35px;
			}

			.ui-jqgrid .ui-jqgrid-bdiv .ui-jqgrid-btable .jqgrow:hover td {
				border-top: 1px solid #5d99df;
				border-bottom: 1px solid #5d99df;
			}

			.ui-jqgrid .ui-jqgrid-bdiv .ui-jqgrid-btable .jqgrow:hover {
				box-shadow: 0 0 0 4px #d1e2f6;
			}

			.ui-jqgrid .ui-jqgrid-bdiv .ui-jqgrid-btable .jqgrow td {
				overflow: visible; /*This worries me*/
				padding: 4px;
				word-wrap: break-word;
				border: none;
				white-space: inherit;
			}

			/*Cells*/
			.ui-jqgrid .ui-jqgrid-bdiv .ui-jqgrid-btable .jqgrow.ui-row-ltr td {
				padding-left: 5px;
			}

			.ui-jqgrid .ui-jqgrid-bdiv .ui-jqgrid-btable .jqgrow.ui-row-ltr td input[type="radio"] {
				margin-left: 5px;
			}

			.ui-jqgrid .ui-jqgrid-bdiv .ui-jqgrid-btable .jqgrow.expanded.ui-row-ltr:hover td {
				border: none;
			}

			.ui-jqgrid .ui-jqgrid-bdiv .ui-jqgrid-btable .jqgrow.ui-row-ltr td.ui-sgcollapsed {
				padding-left: 10px;
			}

			.ui-jqgrid .ui-jqgrid-bdiv .ui-jqgrid-btable .jqgrow.ui-row-ltr td.ui-sgcollapsed span.ui-icon:hover {
				cursor: pointer;
			}

			/*Elements*/
			.ui-jqgrid .ui-jqgrid-bdiv .ui-jqgrid-btable .jqgrow .ui-sgcollapsed span.icon:before {
				color: #cccccc;
			}

			.ui-jqgrid .ui-jqgrid-bdiv .ui-jqgrid-btable .jqgrow .icon-priority.icon {
				padding-left: 5px;
			}

	/*Pager*/
	.ui-jqgrid .ui-jqgrid-pager {
		height: 28px;
		color: #ffffff;
		width: 100%;
	}

		.ui-jqgrid .ui-jqgrid-pager .ui-separator {
			height: 0;
			padding-right: 2px;
		}

		.ui-jqgrid .ui-jqgrid-pager .ui-pg-button:hover,
		.ui-jqgrid .ui-jqgrid-pager .ui-pg-button {
			text-align: center;
			padding: 1px 3px 1px 1px;
		}

		.ui-jqgrid .ui-jqgrid-pager .ui-icon {
			background: none;
			font-family: "legal-hold-icons";
			display: inline-block;
			text-indent: 0;
			height: 20px;
			width: 20px;
			line-height: 20px;
			padding: 0;
			border: 1px solid #afafaf;
			border-radius: 4px;
		}

		.ui-jqgrid .ui-jqgrid-pager .ui-pager-control {
			height: 28px;
			margin-right: 20px;
		}

		.ui-jqgrid .ui-jqgrid-pager .ui-pg-table {
			height: 28px;
			margin-left: 5px;
		}

		.ui-jqgrid .ui-jqgrid-pager span.icon:before {
			color: #ffffff;
		}

		.ui-jqgrid .ui-jqgrid-pager .pager-container span {
			font-size: 10px;
		}

		.ui-jqgrid .ui-jqgrid-pager .navtable {
			position: absolute;
			top: 0;
			right: 0;
		}

			.ui-jqgrid .ui-jqgrid-pager .navtable .ui-icon {
				border: none;
			}

		.ui-jqgrid .ui-jqgrid-pager td[dir="ltr"] {
			font-size: 10px;
		}

/*Sub-Grid*/
.ui-jqgrid .ui-subgrid {
}

.ui-jqgrid.ui-widget-content .ui-subgrid{
	background-color: #ffffff;
}

.ui-jqgrid.ui-widget-content .ui-subgrid .ui-jqgrid.ui-widget.ui-widget-content{
	border: 1px solid  #595959;
}

	/*Globals*/
	.ui-jqgrid .ui-subgrid .ui-state-hover a,
	.ui-jqgrid .ui-subgrid a {
		color: #1e5596;
		font-weight: 600;
	}

		.ui-jqgrid .ui-subgrid .ui-state-hover a:hover,
		.ui-jqgrid .ui-subgrid a:hover {
			color: #102d4f;
		}

	.ui-jqgrid .ui-subgrid .tablediv {
		margin-right: 26px;
	}

	.ui-jqgrid .ui-subgrid .ui-jqgrid-hbox {
		border-bottom: 1px solid #595959;
		-moz-border-top-left-radius: 5px;
		-webkit-border-top-left-radius: 5px;
		-ms-border-top-left-radius: 5px;
		-moz-border-top-right-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-ms-border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	.ui-jqgrid .ui-subgrid .ui-jqgrid-bdiv {
		border-bottom: 1px solid #595959;
	}

	.ui-jqgrid .ui-subgrid .ui-jqgrid-pager span.icon:before {
			color: #595959;
		}

	/*Grid*/
	.ui-jqgrid .ui-subgrid .ui-jqgrid {
		margin-top: 5px;
		-moz-border-top-left-radius: 5px;
		-webkit-border-top-left-radius: 5px;
		-ms-border-top-left-radius: 5px;
		-moz-border-top-right-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-ms-border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		background-color: #cccccc;
		border: none;
	}

	/*Header*/
	.ui-jqgrid .ui-subgrid .ui-jqgrid-hbox .ui-th-column div {
	}

	/*Header Titles*/
	.ui-jqgrid .ui-subgrid .ui-jqgrid-hbox .ui-jqgrid-labels {
		border-bottom: 1px solid #595959;
	}

	/*Header Inputs*/
	.ui-jqgrid .ui-subgrid .ui-jqgrid-hbox .ui-search-toolbar .ui-search-input > input {
		background-color: #dbdbdb;
	}

	.ui-jqgrid .ui-subgrid .ui-jqgrid-hbox .ui-search-toolbar .ui-search-input > span[class^="icon-"] {
		color: #cccccc;
	}

	.ui-jqgrid .ui-subgrid .ui-jqgrid-hbox .ui-search-toolbar .ui-search-input > input:focus {
		color: #666666;
		border-color: #ffffff;
	}


	/*Body*/
	.ui-jqgrid .ui-subgrid .ui-jqgrid-bdiv {
		border-left: 1px solid #cccccc;
		border-right: 1px solid #cccccc;
	}

	/*Rows*/
	.ui-jqgrid .ui-subgrid > td {
		padding: 12px 0 26px;
	}

	/*Subgrid pager*/
	.ui-jqgrid .ui-subgrid .ui-jqgrid .ui-jqgrid-pager .ui-pg-table,
	.ui-jqgrid .ui-subgrid .ui-jqgrid .ui-search-table .ui-search-input > a.clearsearchclass,
	.ui-jqgrid .ui-subgrid .ui-jqgrid tr.ui-search-toolbar,
	.ui-jqgrid .ui-subgrid .ui-jqgrid tr.ui-jqgrid-labels {
		color: #595959;
	}

/*Extras!*/
.ui-jqgrid .stats-control-element {
	padding: 0;
}

.ui-jqgrid .ui-sgcollapsed span.ui-icon {
	display: inline;
	background: none;
	padding: 5px;
	position: relative;
	right: 10px;
}

.ui-jqgrid-btable tr, .ui-jqgrid-htable tr input{
	font-size: 11px;
}

.ui-jqgrid-btable tr.jqgfirstrow {
    visibility: hidden;
    height: 0 !important;
    /*display: none;*/ /*This screws the whole grid up*/
}

.grid-pane .select {
	font-size: 11px;
}

.grid-pane .select > a {
	font-size: 1.36em;
}

.grid-pane a.icon-add {
	margin-right: 25px;
}


/*OVERRIDES*/
/*NOTE: This should be cleaned up and moved into appropriate places on page.*/
/*NOTE: Decision was made to push at current state in order to start regression and revisit later.*/
.ui-jqgrid .ui-jqgrid-labels th.ui-th-column,
.ui-jqgrid .ui-subgrid .ui-jqgrid .ui-jqgrid-labels th.ui-th-column {
    position: relative !important;
    overflow: hidden;
    padding-left: 5px !important;
}

.ui-jqgrid .ui-jqgrid-labels th.ui-th-ltr {
    /*border: solid 1px red;*/
}

.ui-jqgrid .ui-search-toolbar th.ui-th-column,
.ui-jqgrid .ui-subgrid .ui-jqgrid .ui-search-toolbar th.ui-th-column {
    position: relative !important;
    overflow: hidden;
    padding: 5px !important;
    margin: 0 !important;
    height: 20px !important;
}

.ui-jqgrid .ui-jqgrid-htable th,
.ui-jqgrid .ui-subgrid .ui-jqgrid .ui-jqgrid-htable th {
    padding: 0 !important;
    margin: 0 !important;
}

.ui-jqgrid .ui-search-toolbar th.ui-th-column > div,
.ui-jqgrid .ui-search-toolbar th.ui-th-column div,
.ui-jqgrid .ui-subgrid .ui-jqgrid .ui-search-toolbar th.ui-th-column > div,
.ui-jqgrid .ui-subgrid .ui-jqgrid .ui-search-toolbar th.ui-th-column div {
    height: 20px !important;
    width: 100% !important;
    position: relative !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
}

.ui-jqgrid .ui-jqgrid-hbox .ui-search-toolbar .ui-search-input,
.ui-jqgrid .ui-jqgrid-hbox .ui-search-toolbar .ui-search-table,
.ui-jqgrid .ui-jqgrid-hbox .ui-search-toolbar .ui-search-input input,
.ui-jqgrid .ui-subgrid .ui-jqgrid .ui-jqgrid-hbox .ui-search-toolbar .ui-search-input,
.ui-jqgrid .ui-subgrid .ui-jqgrid .ui-jqgrid-hbox .ui-search-toolbar .ui-search-table,
.ui-jqgrid .ui-subgrid .ui-jqgrid .ui-jqgrid-hbox .ui-search-toolbar .ui-search-input input {
    width: 100% !important;
    height: 22px !important;
    line-height: 20px !important;
    padding: 0 5px;
    border: none;
}

.ui-jqgrid .ui-jqgrid-bdiv .ui-jqgrid-btable .jqgrow td {
    /*border: 1px solid red;*/
}

.ui-jqgrid .ui-jqgrid-hbox .ui-jqgrid-labels .ui-jqgrid-resize.ui-jqgrid-resize-ltr,
.ui-subgrid .ui-jqgrid-hbox .ui-jqgrid-labels .ui-jqgrid-resize-ltr {
    margin: auto 0 !important;
    padding: 0 !important;
    position: absolute;
    right: 0;
    border-right: 1px solid #177eb1;
    height: 100%;
    line-height: 100%;
}

.ui-subgrid .ui-jqgrid-hbox .ui-jqgrid-labels .ui-jqgrid-resize-ltr {
	border-right: 1px solid #595959 !important;
}

.ui-jqgrid .ui-jqgrid-hbox {
    position: relative !important;
}

.ui-jqgrid .ui-jqgrid-htable {
    /*width: 100% !important;
    table-layout: auto !important;*/
}