<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.0" targetFramework="net451" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net451" />
  <package id="kCura.Config" version="9.5.103.62" targetFramework="net451" />
  <package id="kCura.Crypto" version="9.5.103.62" targetFramework="net451" />
  <package id="kCura.Data" version="9.5.103.62" targetFramework="net451" />
  <package id="kCura.Data.RowDataGateway" version="9.5.103.62" targetFramework="net451" />
  <package id="kCura.Relativity.Client" version="9.5.103.62" targetFramework="net451" />
  <package id="kCura.Utility" version="9.5.103.62" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="Relativity" version="9.5.103.62" targetFramework="net451" />
  <package id="Relativity.API" version="9.5.103.62" targetFramework="net451" />
  <package id="Relativity.Authentication.Interfaces" version="9.5.103.62" targetFramework="net451" />
  <package id="Relativity.Core" version="9.5.103.62" targetFramework="net451" />
  <package id="Relativity.Data" version="9.5.103.62" targetFramework="net451" />
  <package id="Relativity.Kepler" version="1.0.1.264" targetFramework="net451" />
  <package id="Relativity.Logging.Interfaces" version="9.4.300" targetFramework="net451" />
  <package id="Relativity.SecretCatalog" version="1.0.18" targetFramework="net451" />
  <package id="Relativity.Services.DataContracts" version="9.5.103.62" targetFramework="net451" />
  <package id="Relativity.Services.Interfaces" version="9.5.103.62" targetFramework="net451" />
  <package id="Relativity.Services.Interfaces.Private" version="9.5.103.62" targetFramework="net451" />
  <package id="Relativity.Telemetry.DataContracts.Shared" version="9.4.117" targetFramework="net451" />
</packages>