<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="kCura.Apps.Common.Config" version="1.0.227.4" targetFramework="net451" />
  <package id="kCura.Apps.Common.Data" version="1.0.192.5" targetFramework="net451" />
  <package id="kCura.Apps.Common.Utils" version="1.0.192.5" targetFramework="net451" />
  <package id="kCura.Config" version="9.5.103.62" targetFramework="net451" />
  <package id="kCura.Crypto" version="9.5.103.62" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
</packages>