<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
		<connectionStrings>
			<add key="connectionString" value="data source=ml27.testing.corp; initial catalog=EDDS;persist security info=False;user id=EDDSdbo;password=edds; workstation id=localhost;packet size=4096" />
		</connectionStrings>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NSubstitute" publicKeyToken="92dd2e9066daa5ca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.0.0" newVersion="1.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>