*.DotSettings.*
bin
Bin
obj
Obj
CustomPages
BuildPackages
DependencyGraph.xml
build*.log
Output
Debug
Release
SqlLog.txt
Thumbs.db
*.docstates
*.HarnessItConfig
*.vbproj.user
*.csproj.user
*.vcxproj.user
*.wixproj.user
*.suo
*.sdf
*.opensdf
*.tlb
*.pdb
*.pch
*.obj
*.dep
*.idb
*.ilk
*.ipch
*.o
*.lo
*.pyo
*.la
*.tlog
#*#
*.rej
*~
.#*
*.orig
*.bak
*.nrmap
*.msi
*.wixobj
*.wixpdb
*.wxsreg
*.msm
*.exe
!Source/kCura.IntegrationPoint.Tests.Core/ExternalDependencies/TransferConsole/*.exe
*.rap
*.intermediate.manifest
*ReSharper*
.lastbuildstate
.lastbuildsucceeded
.lastcodeanalysissucceeded
*.dotCover
*.DotSettings
*.DotSettings.user
TestLogs/*
Source/Packages/*
packages/*
*.pubxml.user
*.nupkg
msbuild.targets
dlls.txt
DevelopmentScripts/NUnit*
BuildLogs
PDBs
Applications/*.nuspec
source/.vs/
lib/
documentation/examples
documentation/sdk
documentation/diagrams/images
documentation/diagrams/Stop/images
documentation/diagrams/images
documentation/diagrams/Stop/images
packages/
IntegrationTestsResults.xml
IntegrationTestsResults.html
UITestsResults.xml
UITestsResults.html
DevelopmentScripts/IntegrationPointsTests.config
DevelopmentScripts/*Results.xml
DevelopmentScripts/*Results.html
/DevelopmentScripts/ValidationMessages.html
/DevelopmentScripts/.sonarqube
/.sonarqube
/DevelopmentScripts/MSBuild.SonarQube.Runner.Tool/tools
/DevelopmentScripts/chromeLog.txt
Artifacts
.ionide
.vs/
buildtools/
!buildtools/packages.config
*.runsettings
FunctionalTestSettings
.idea/
package-lock.json
.dccache
node_modules/