*.DotSettings.*
bin
Bin
obj
Obj
CustomPages
DependencyGraph.xml
build*.log
Output
Debug
Release
SqlLog.txt
Thumbs.db
*.docstates
*.HarnessItConfig
*.vbproj.user
*.csproj.user
*.vcxproj.user
*.wixproj.user
*.suo
*.sdf
*.opensdf
*.tlb
*.pdb
*.pch
*.obj
*.dep
*.idb
*.ilk
*.ipch
*.o
*.lo
*.pyo
*.la
*.tlog
#*#
*.rej
*~
.#*
*.orig
*.bak
*.nrmap
*.msi
*.wixobj
*.wixpdb
*.wxsreg
*.msm
*.exe
*.rap
*.intermediate.manifest
*ReSharper*
.lastbuildstate
.lastbuildsucceeded
.lastcodeanalysissucceeded
*.dotCover
*.DotSettings
TestLogs/*
Source/Packages/*
packages/*
*.pubxml.user
*.nupkg
msbuild.targets
dlls.txt
version.txt
DevelopmentScripts/NUnit*
BuildLogs
PDBs
Applications/*.nuspec
source/.vs/
source/example/JsonLoader/.vs/
source/example/MyFirstProvider/.vs/
lib/
documentation/examples
documentation/sdk
documentation/diagrams/images
documentation/diagrams/Stop/images
documentation/diagrams/images
documentation/diagrams/Stop/images