*.DotSettings.*
bin
Bin
obj
Obj
CustomPages
DependencyGraph.xml
build*.log
Output
Debug
Release
SqlLog.txt
Thumbs.db
*.docstates
*.HarnessItConfig
*.vbproj.user
*.csproj.user
*.vcxproj.user
*.wixproj.user
*.suo
*.sdf
*.opensdf
*.tlb
*.pdb
*.pch
*.obj
*.dep
*.idb
*.ilk
*.ipch
*.o
*.lo
*.pyo
*.la
*.tlog
#*#
*.rej
*~
.#*
*.orig
*.bak
*.nrmap
*.msi
*.wixobj
*.wixpdb
*.wxsreg
*.msm
*.exe
*.rap
*.intermediate.manifest
*ReSharper*
.lastbuildstate
.lastbuildsucceeded
.lastcodeanalysissucceeded
*.dotCover
*.DotSettings
TestLogs/*
Source/Packages/*
*.pubxml.user
*.nupkg
msbuild.targets
dlls.txt
version.txt
DevelopmentScripts/NUnit*
BuildLogs
PDBs
Applications/*.nuspec
source/.vs/
source/example/JsonLoader/.vs/
source/example/MyFirstProvider/.vs/
lib/
documentation/examples
documentation/sdk
documentation/diagrams/images
documentation/diagrams/Stop/images
/source/publish/web/Web.Release.config
/source/publish/web/Web.Debug.config
/source/publish/web/Web.config
/source/publish/web/Views/_ViewStart.cshtml
/source/publish/web/Views/Web.config
/source/publish/web/Views/Shared/_StepLayout.cshtml
/source/publish/web/Views/Shared/_Layout.cshtml
/source/publish/web/Views/Shared/Error.cshtml
/source/publish/web/Views/IntegrationPoints/_IntegrationMapFieldsReversed.cshtml
/source/publish/web/Views/IntegrationPoints/_IntegrationMapFields.cshtml
/source/publish/web/Views/IntegrationPoints/_IntegrationDetailsPartial2.cshtml
/source/publish/web/Views/IntegrationPoints/_IntegrationDetailsPartial.cshtml
/source/publish/web/Views/IntegrationPoints/_Configuration.cshtml
/source/publish/web/Views/IntegrationPoints/RelativityProviderConfiguration.cshtml
/source/publish/web/Views/IntegrationPoints/NotEnoughPermission.cshtml
/source/publish/web/Views/IntegrationPoints/LDAPConfiguration.cshtml
/source/publish/web/Views/IntegrationPoints/ExportProviderFields.cshtml
/source/publish/web/Views/IntegrationPoints/ExportProviderConfiguration.cshtml
/source/publish/web/Views/IntegrationPoints/Edit.cshtml
/source/publish/web/Views/IntegrationPoints/Details.cshtml
/source/publish/web/Views/FtpProvider/GetDefaultFtpSettings.cshtml
/source/publish/web/Views/Fileshare/TextPrecedencePicker.cshtml
/source/publish/web/Views/Fileshare/SavedSearchPicker.cshtml
/source/publish/web/Views/Fileshare/ExportDetails.cshtml
/source/publish/web/Scripts/_references.js
/source/publish/web/Scripts/select2.min.js.map
/source/publish/web/Scripts/select2.min.js
/source/publish/web/Scripts/select2.js
/source/publish/web/Scripts/Select2-locales/select2_locale_zh-TW.js
/source/publish/web/Scripts/Select2-locales/select2_locale_zh-CN.js
/source/publish/web/Scripts/Select2-locales/select2_locale_vi.js
/source/publish/web/Scripts/Select2-locales/select2_locale_uk.js
/source/publish/web/Scripts/Select2-locales/select2_locale_ug-CN.js
/source/publish/web/Scripts/Select2-locales/select2_locale_ua.js
/source/publish/web/Scripts/Select2-locales/select2_locale_tr.js
/source/publish/web/Scripts/Select2-locales/select2_locale_th.js
/source/publish/web/Scripts/Select2-locales/select2_locale_sv.js
/source/publish/web/Scripts/Select2-locales/select2_locale_sk.js
/source/publish/web/Scripts/Select2-locales/select2_locale_ru.js
/source/publish/web/Scripts/Select2-locales/select2_locale_rs.js
/source/publish/web/Scripts/Select2-locales/select2_locale_ro.js
/source/publish/web/Scripts/Select2-locales/select2_locale_pt-PT.js
/source/publish/web/Scripts/Select2-locales/select2_locale_pt-BR.js
/source/publish/web/Scripts/Select2-locales/select2_locale_pl.js
/source/publish/web/Scripts/Select2-locales/select2_locale_no.js
/source/publish/web/Scripts/Select2-locales/select2_locale_nl.js
/source/publish/web/Scripts/Select2-locales/select2_locale_ms.js
/source/publish/web/Scripts/Select2-locales/select2_locale_mk.js
/source/publish/web/Scripts/Select2-locales/select2_locale_lv.js
/source/publish/web/Scripts/Select2-locales/select2_locale_lt.js
/source/publish/web/Scripts/Select2-locales/select2_locale_ko.js
/source/publish/web/Scripts/Select2-locales/select2_locale_ka.js
/source/publish/web/Scripts/Select2-locales/select2_locale_ja.js
/source/publish/web/Scripts/Select2-locales/select2_locale_it.js
/source/publish/web/Scripts/Select2-locales/select2_locale_is.js
/source/publish/web/Scripts/Select2-locales/select2_locale_id.js
/source/publish/web/Scripts/Select2-locales/select2_locale_hu.js
/source/publish/web/Scripts/Select2-locales/select2_locale_hr.js
/source/publish/web/Scripts/Select2-locales/select2_locale_he.js
/source/publish/web/Scripts/Select2-locales/select2_locale_gl.js
/source/publish/web/Scripts/Select2-locales/select2_locale_fr.js
/source/publish/web/Scripts/Select2-locales/select2_locale_fi.js
/source/publish/web/Scripts/Select2-locales/select2_locale_fa.js
/source/publish/web/Scripts/Select2-locales/select2_locale_eu.js
/source/publish/web/Scripts/Select2-locales/select2_locale_et.js
/source/publish/web/Scripts/Select2-locales/select2_locale_es.js
/source/publish/web/Scripts/Select2-locales/select2_locale_el.js
/source/publish/web/Scripts/Select2-locales/select2_locale_de.js
/source/publish/web/Scripts/Select2-locales/select2_locale_da.js
/source/publish/web/Scripts/Select2-locales/select2_locale_cs.js
/source/publish/web/Scripts/Select2-locales/select2_locale_ca.js
/source/publish/web/Scripts/Select2-locales/select2_locale_bg.js
/source/publish/web/Scripts/Select2-locales/select2_locale_az.js
/source/publish/web/Scripts/Select2-locales/select2_locale_ar.js
/source/publish/web/Scripts/route.js
/source/publish/web/Scripts/relativity/Relativity-provider.js
/source/publish/web/Scripts/q.min.js.map
/source/publish/web/Scripts/q.min.js
/source/publish/web/Scripts/q.js
/source/publish/web/Scripts/postal/postal.min.js.map
/source/publish/web/Scripts/postal/postal.min.js
/source/publish/web/Scripts/postal/postal.js
/source/publish/web/Scripts/postal/lodash.js
/source/publish/web/Scripts/postal/conduit.js
/source/publish/web/Scripts/modernizr-2.6.2.js
/source/publish/web/Scripts/loading-modal.js
/source/publish/web/Scripts/ldap/ldap-edit.js
/source/publish/web/Scripts/knockout.validation.js
/source/publish/web/Scripts/knockout.validation.debug.js
/source/publish/web/Scripts/knockout-2.2.0.js
/source/publish/web/Scripts/knockout-2.2.0.debug.js
/source/publish/web/Scripts/jquery.validate.unobtrusive.min.js.map
/source/publish/web/Scripts/jquery.validate.unobtrusive.min.js
/source/publish/web/Scripts/jquery.validate.unobtrusive.js
/source/publish/web/Scripts/jquery.validate.min.js.map
/source/publish/web/Scripts/jquery.validate.min.js
/source/publish/web/Scripts/jquery.validate.js
/source/publish/web/Scripts/jquery.unobtrusive-ajax.min.js.map
/source/publish/web/Scripts/jquery.unobtrusive-ajax.min.js
/source/publish/web/Scripts/jquery.unobtrusive-ajax.js
/source/publish/web/Scripts/jquery.signalR-2.2.0.min.js
/source/publish/web/Scripts/jquery.signalR-2.2.0.js
/source/publish/web/Scripts/jquery.jqGrid.src.js
/source/publish/web/Scripts/jquery.jqGrid.min.js
/source/publish/web/Scripts/jquery-ui-1.9.2.min.js
/source/publish/web/Scripts/jquery-ui-1.9.2.js
/source/publish/web/Scripts/jquery-ui-1.8.11.min.js.map
/source/publish/web/Scripts/jquery-postMessage.js
/source/publish/web/Scripts/jquery-1.8.2.min.js.map
/source/publish/web/Scripts/jquery-1.8.2.min.js
/source/publish/web/Scripts/jquery-1.8.2.js
/source/publish/web/Scripts/ip-messaging.js
/source/publish/web/Scripts/integration-point/time-utils.js
/source/publish/web/Scripts/integration-point/step-vm.js
/source/publish/web/Scripts/integration-point/step-mapFields.js
/source/publish/web/Scripts/integration-point/step-mapFields-control.js
/source/publish/web/Scripts/integration-point/step-import.js
/source/publish/web/Scripts/integration-point/step-details.js
/source/publish/web/Scripts/integration-point/edit.js
/source/publish/web/Scripts/integration-point/details.js
/source/publish/web/Scripts/integration-point/binding.js
/source/publish/web/Scripts/iframeResizer.min.js
/source/publish/web/Scripts/iframeResizer.contentWindow.min.js
/source/publish/web/Scripts/i18n/grid.locale-vi.js
/source/publish/web/Scripts/i18n/grid.locale-ua.js
/source/publish/web/Scripts/i18n/grid.locale-tw.js
/source/publish/web/Scripts/i18n/grid.locale-tr.js
/source/publish/web/Scripts/i18n/grid.locale-th.js
/source/publish/web/Scripts/i18n/grid.locale-sv.js
/source/publish/web/Scripts/i18n/grid.locale-sr.js
/source/publish/web/Scripts/i18n/grid.locale-sr-latin.js
/source/publish/web/Scripts/i18n/grid.locale-sk.js
/source/publish/web/Scripts/i18n/grid.locale-ru.js
/source/publish/web/Scripts/i18n/grid.locale-ro.js
/source/publish/web/Scripts/i18n/grid.locale-pt.js
/source/publish/web/Scripts/i18n/grid.locale-pt-br.js
/source/publish/web/Scripts/i18n/grid.locale-pl.js
/source/publish/web/Scripts/i18n/grid.locale-no.js
/source/publish/web/Scripts/i18n/grid.locale-nl.js
/source/publish/web/Scripts/i18n/grid.locale-mne.js
/source/publish/web/Scripts/i18n/grid.locale-lt.js
/source/publish/web/Scripts/i18n/grid.locale-kr.js
/source/publish/web/Scripts/i18n/grid.locale-ja.js
/source/publish/web/Scripts/i18n/grid.locale-it.js
/source/publish/web/Scripts/i18n/grid.locale-is.js
/source/publish/web/Scripts/i18n/grid.locale-id.js
/source/publish/web/Scripts/i18n/grid.locale-hu.js
/source/publish/web/Scripts/i18n/grid.locale-hr1250.js
/source/publish/web/Scripts/i18n/grid.locale-hr.js
/source/publish/web/Scripts/i18n/grid.locale-he.js
/source/publish/web/Scripts/i18n/grid.locale-gl.js
/source/publish/web/Scripts/i18n/grid.locale-fr.js
/source/publish/web/Scripts/i18n/grid.locale-fi.js
/source/publish/web/Scripts/i18n/grid.locale-fa.js
/source/publish/web/Scripts/i18n/grid.locale-es.js
/source/publish/web/Scripts/i18n/grid.locale-en.js
/source/publish/web/Scripts/i18n/grid.locale-el.js
/source/publish/web/Scripts/i18n/grid.locale-dk.js
/source/publish/web/Scripts/i18n/grid.locale-de.js
/source/publish/web/Scripts/i18n/grid.locale-da.js
/source/publish/web/Scripts/i18n/grid.locale-cs.js
/source/publish/web/Scripts/i18n/grid.locale-cn.js
/source/publish/web/Scripts/i18n/grid.locale-cat.js
/source/publish/web/Scripts/i18n/grid.locale-bg1251.js
/source/publish/web/Scripts/i18n/grid.locale-bg.js
/source/publish/web/Scripts/i18n/grid.locale-ar.js
/source/publish/web/Scripts/hubs/integrationPointHub.js
/source/publish/web/Scripts/HelpUtil.js
/source/publish/web/Scripts/grid/dragon-utils.js
/source/publish/web/Scripts/grid/dragon-grid.js
/source/publish/web/Scripts/grid/dragon-grid-pager.js
/source/publish/web/Scripts/grid/dragon-grid-formatters.js
/source/publish/web/Scripts/grid/dragon-grid-filters.js
/source/publish/web/Scripts/ftpProvider/ftpProvider-edit.js
/source/publish/web/Scripts/frame-messaging.js
/source/publish/web/Scripts/Export/text-precedence-picker.js
/source/publish/web/Scripts/Export/saved-search-picker.js
/source/publish/web/Scripts/Export/picker.js
/source/publish/web/Scripts/Export/export-provider.js
/source/publish/web/Scripts/Export/export-provider-fields-step.js
/source/publish/web/Scripts/Export/export-enums.js
/source/publish/web/Scripts/EventHandlers/relativity-provider-view.js
/source/publish/web/Scripts/EventHandlers/job-history.js
/source/publish/web/Scripts/EventHandlers/integration-points-view.js
/source/publish/web/Scripts/EventHandlers/integration-points-view-destination.js
/source/publish/web/Scripts/EventHandlers/integration-points-grid.js
/source/publish/web/Scripts/EventHandlers/export-details-view.js
/source/publish/web/Scripts/dragon/dragon-utils.js
/source/publish/web/Scripts/dragon/dragon-schedule.js
/source/publish/web/Scripts/dragon/dragon-dialogs.js
/source/publish/web/Scripts/dragon/dragon-core.js
/source/publish/web/Scripts/date.js
/source/publish/web/Scripts/core/utils.js
/source/publish/web/Scripts/core/messaging.js
/source/publish/web/Scripts/core/data.js
/source/publish/web/Scripts/Controls/step-progress.js
/source/publish/web/packages.config
/source/publish/web/Global.asax
/source/publish/web/Content/themes/base/jquery.ui.theme.css
/source/publish/web/Content/themes/base/jquery.ui.tabs.css
/source/publish/web/Content/themes/base/jquery.ui.slider.css
/source/publish/web/Content/themes/base/jquery.ui.selectable.css
/source/publish/web/Content/themes/base/jquery.ui.resizable.css
/source/publish/web/Content/themes/base/jquery.ui.progressbar.css
/source/publish/web/Content/themes/base/jquery.ui.dialog.css
/source/publish/web/Content/themes/base/jquery.ui.datepicker.css
/source/publish/web/Content/themes/base/jquery.ui.core.css
/source/publish/web/Content/themes/base/jquery.ui.button.css
/source/publish/web/Content/themes/base/jquery.ui.base.css
/source/publish/web/Content/themes/base/jquery.ui.autocomplete.css
/source/publish/web/Content/themes/base/jquery.ui.all.css
/source/publish/web/Content/themes/base/jquery.ui.accordion.css
/source/publish/web/Content/themes/base/images/ui-icons_cd0a0a_256x240.png
/source/publish/web/Content/themes/base/images/ui-icons_888888_256x240.png
/source/publish/web/Content/themes/base/images/ui-icons_454545_256x240.png
/source/publish/web/Content/themes/base/images/ui-icons_2e83ff_256x240.png
/source/publish/web/Content/themes/base/images/ui-icons_222222_256x240.png
/source/publish/web/Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png
/source/publish/web/Content/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png
/source/publish/web/Content/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png
/source/publish/web/Content/themes/base/images/ui-bg_glass_75_dadada_1x400.png
/source/publish/web/Content/themes/base/images/ui-bg_glass_65_ffffff_1x400.png
/source/publish/web/Content/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png
/source/publish/web/Content/themes/base/images/ui-bg_flat_75_ffffff_40x100.png
/source/publish/web/Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png
/source/publish/web/Content/Styles.min.css
/source/publish/web/Content/step-progress-bar.scss
/source/publish/web/Content/step-progress-bar.css
/source/publish/web/Content/site.css
/source/publish/web/Content/select2-overrides.scss
/source/publish/web/Content/select2-overrides.css
/source/publish/web/Content/scheduler.scss
/source/publish/web/Content/scheduler.css
/source/publish/web/Content/normalize.css
/source/publish/web/Content/legal-hold-fonts.css
/source/publish/web/Content/jquery.jqGrid/ui.jqgrid.css
/source/publish/web/Content/jquery.jqGrid/ellipsis-xbl.xml
/source/publish/web/Content/integration-points-view.css
/source/publish/web/Content/integration-points-fonts.css
/source/publish/web/Content/Images/sprite.png
/source/publish/web/Content/Images/loading.gif
/source/publish/web/Content/Images/help_icon.png
/source/publish/web/Content/Images/grey_close.png
/source/publish/web/Content/header.scss
/source/publish/web/Content/header.css
/source/publish/web/Content/fonts/legal-hold-icons.woff
/source/publish/web/Content/fonts/legal-hold-icons.ttf
/source/publish/web/Content/fonts/legal-hold-icons.svg
/source/publish/web/Content/fonts/legal-hold-icons.eot
/source/publish/web/Content/fonts/integration-points.woff
/source/publish/web/Content/fonts/integration-points.ttf
/source/publish/web/Content/fonts/integration-points.svg
/source/publish/web/Content/fonts/integration-points.eot
/source/publish/web/Content/css/select2x2.png
/source/publish/web/Content/css/select2search.css
/source/publish/web/Content/css/select2.png
/source/publish/web/Content/css/select2.css
/source/publish/web/Content/css/select2-spinner.gif
/source/publish/web/Content/controls.grid.css
/source/publish/web/Content/controls-grid-pager.scss
/source/publish/web/Content/controls-grid-pager.css
/source/publish/web/Content/buttermilk.scss
/source/publish/web/Content/buttermilk.css
/source/publish/web/Content/buttermilk.9_2.min.css.map
/source/publish/web/Content/buttermilk.9_2.min.css
/source/publish/web/Content/buttermilk-variables.scss
/source/publish/web/Content/buttermilk-variables.css
/source/buildLogger.xml
