<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="%userprofile%\.nuget\packages-server" />
  </config>
  <packageSources>
    <clear />
    <add key="ServerArtifactoryNuGet" value="https://relativityone.jfrog.io/artifactory/api/nuget/v3/server-nuget-anthology" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="ServerArtifactoryNuGet">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>