framework: net462
strategy: min

source https://proget.kcura.corp/nuget/NuGet

//RIP packages
nuget Relativity.IntegrationPoints.Services.Interfaces.Private 1.2.1
nuget Relativity.IntegrationPoints.Contracts 1.0.8-pre.3
nuget Relativity.IntegrationPoints.SDK 1.0.8-pre.3

//Main Relativity packages
nuget kCura 13.1.0
nuget kCura.Agent ~> 17.1
nuget kCura.EventHandler 15.1.0
nuget Relativity.CustomPages ~> 13.1
nuget Relativity.Data ~> 13.1
nuget Relativity.DataExchange.Client.SDK 1.14.3
nuget Relativity.Telemetry.DataContracts.Shared 3000.0.1
nuget Relativity.API 17.1
nuget Relativity ~> 15.1

//Relativity Services packages
nuget Relativity.Services.DataContracts 13.2.5
nuget Relativity.Services.Interfaces 13.2.5
nuget Relativity.Services.Interfaces.Private 13.1.4

//Other Relativity packages
nuget kCura.Apps.Common.Config 2.1.9
nuget kCura.FreeImage 3.17.0.1
nuget kCura.LongPath 1.0.20
nuget Relativity.DataGrid 14.0.0
nuget Relativity.DataTransfer.MessageService ~> 10.2.0
nuget Relativity.Kepler 2.14.3
nuget Relativity.Kepler.Client 2.14.3
nuget Relativity.Logging 3000.0.1
nuget Relativity.Logging.Interfaces 3000.0.1
nuget Relativity.OAuth2Client 1.5.2
nuget Relativity.OAuth2Client.Interfaces 1.5.2
nuget Relativity.Platform.Agent.WorkloadDiscovery.SDK
nuget Relativity.Productions.Services.Interfaces 11.1.0
nuget Relativity.Telemetry.APM 2019.1.1 
nuget Relativity.Telemetry.MetricsCollection 2018.12.2
nuget Relativity.Telemetry.Services.Interface 3000.0.1
nuget Relativity.Toggles 1.0.1
nuget Relativity.AutomatedWorkflows.Services.Interfaces 0.1.1-pre.6

//Relativity transient packages
nuget kCura.OutsideIn.FI.Win32 2020.7.0 content: none 		//Relativity.DataExchange.Client.SDK
nuget Relativity.OutsideIn 2021.3.1 content: none 			//Relativity.DataExchange.Client.SDK

//Other packages
nuget Newtonsoft.Json 6.0.8 redirects: force
nuget AutoMapper 4.2.1
nuget Castle.Windsor 3.3.0 // don't change this version - Agent Framework always loads version 3.3, no matter which version is in resource files
nuget LanguageExt.Core 3.1.15
nuget Microsoft.AspNet.Mvc 5.2.3
nuget Microsoft.AspNet.SignalR.Core 2.2.0
nuget Microsoft.AspNet.Web.Optimization 1.1.3 strategy: max
nuget Microsoft.AspNet.WebApi 5.2.3
nuget Microsoft.Net.Http 2.2.29 strategy: max
nuget Microsoft.Owin.Host.SystemWeb strategy: max
nuget Microsoft.Owin.Security ~> 3.0
nuget Mono.TextTransform 1.0.0
nuget System.Reactive 4.4.1
nuget SystemWrapper.Wrappers 0.25.0.186
nuget Polly 5.9
nuget ZetaLongPaths 1.0.0.16
nuget System.ValueTuple
nuget iTextSharp 5.5.13.1

//Analyzers
nuget CSharpGuidelineAnalyzer 1.0.3.0

// Test Packages
nuget BenchmarkDotNet 0.10.12
nuget DotNetSeleniumExtras.PageObjects 3.11.0
nuget DotNetSeleniumExtras.WaitHelpers 3.11.0
nuget FluentAssertions 4.19.4
nuget Moq 4.5.3
nuget netDumbster 2.0.0.4
nuget NUnit 3.13.2 redirects: force
nuget NSubstitute 1.10.0.0
nuget Relativity.Testing.Identification 3.5.0
nuget Selenium.Support 3.141.0
nuget Selenium.WebDriver.ChromeDriver 78.0.3904.1100-beta
nuget Selenium.WebDriver.GeckoDriver 0.24.0
nuget Serilog 1.5.14	
nuget Serilog.Sinks.Seq 1.5.36
nuget ARMTestServices 1.1.1

group Tests
	framework: auto-detect
	strategy: min
	source https://proget.kcura.corp/nuget/NuGet
	nuget kCura 13.1.0
	nuget kCura.Agent ~> 17.1
	nuget kCura.Apps.Common.Config 2.1.9
	nuget Relativity.API 17.1
	nuget Relativity ~> 15.1
	nuget Relativity.Toggles 1.0.1
	nuget Relativity.Services.Interfaces.Private 13.1.4
	nuget Relativity.DataTransfer.MessageService ~> 10.2.0
	nuget Relativity.IntegrationPoints.Contracts 1.0.8-pre.3
	nuget Relativity.OutsideIn 2021.3.1 content: none 			//Relativity.DataExchange.Client.SDK
	nuget FluentAssertions 4.19.4
	nuget Polly 5.9
	nuget Moq 4.5.3
	nuget Relativity.Testing.Identification 3.5.0
	nuget System.Reactive 4.4.1
	nuget Microsoft.AspNet.Web.Optimization 1.1.3 strategy: max
	nuget Microsoft.AspNet.WebApi 5.2.3
	nuget Newtonsoft.Json 12.0.3 redirects: force
	nuget NUnit 3.13.2 redirects: force
	nuget NUnit3TestAdapter 3.13
	nuget Relativity.Kepler 2.14.3
	nuget Relativity.Kepler.Client 2.14.3
	nuget Relativity.Logging.Interfaces 3000.0.1
	nuget Relativity.Telemetry.Services.Interface 3000.0.1
	nuget Relativity.Services.Interfaces 13.2.5
	nuget Relativity.Testing.Framework 4.11.0
	nuget Relativity.Testing.Framework.Api 3.21.0
	nuget Relativity.Testing.Framework.Web 1.1.0
	nuget Relativity.Testing.Framework.RingSetup 0.11.0
	nuget Selenium.Support 4.0.0-beta4
	nuget IntegrationPoints.MyFirstProvider 11.1.0-pre.9
	nuget Relativity.Sync 0.8.48

group Sync
	framework: auto-detect
	strategy: min
	source https://proget.kcura.corp/nuget/NuGet
    nuget Relativity.Sync 0.8.48
	nuget Newtonsoft.Json 6.0.8
	nuget Autofac 4.9.4
	nuget Castle.Core 3.3.0
	nuget Polly 5.9
	nuget Banzai ~> 3.0
	nuget kCura.Apps.Common.Utils 2.1.9
	nuget Relativity.Kepler 2.14.3
	nuget Relativity.Services.Interfaces 13.2.5
	nuget Relativity.Telemetry.APM 2019.1.1