framework: auto-detect

source https://proget.kcura.corp/nuget/NuGet

nuget Relativity ~> 10.3.0
nuget Relativity.API ~> 10.3.0
nuget Relativity.ImportExport ~> 10.3.0
nuget Relativity.Kepler ~> 1.0.0
nuget Relativity.OAuth2Client ~> 1.0.0
nuget Relativity.Platform.Keywords ~> 10.3.0
nuget Relativity.Services.Interfaces ~> 10.3.0
nuget Relativity.Services.Interfaces.Private ~> 10.3.0
nuget Relativity.Services.DataContracts ~> 10.3.0
nuget kCura.Apps.Common.Utils ~> 2.1.0
nuget kCura.Relativity.Client ~> 10.3.0
nuget Relativity.Kepler.Client ~> 1.0.0
nuget Relativity.Telemetry.APM ~> 2019.1.0
nuget relativity.transfer.client ~> 5.0

nuget Microsoft.CodeAnalysis.FxCopAnalyzers ~> 2.6
nuget CSharpGuidelineAnalyzer ~> 2.3
nuget Autofac ~> 4.9 redirects: force
nuget Polly ~> 5.3.1
nuget Banzai ~> 3.0
nuget Banzai.AUtofac ~> 3.0
nuget Newtonsoft.Json ~> 6.0 redirects: force
nuget SexyProxy.Emit 2.0.97

// Tests
nuget NUnit ~> 3.11
nuget FluentAssertions ~> 5.4
nuget Moq ~> 4.10
