framework: net462

source https://proget.kcura.corp/nuget/NuGet

nuget Microsoft.CodeAnalysis.FxCopAnalyzers ~> 2.6
nuget CSharpGuidelineAnalyzer ~> 2.3
nuget Autofac ~> 4.8
nuget Polly 6.1.0
nuget Newtonsoft.Json 6.0.8

# tests
nuget NUnit ~> 3.11
nuget FluentAssertions ~> 5.4
nuget Moq ~> 4.10