<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="kCura.Config" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	<kCura.Config>
		<add key="connectionString" value="data source=CD-SUT-COV1JK8Z\EDDSINSTANCE001;initial catalog=EDDS;persist security info=False;user id=MOJUSER;password=MOJEHASLO; workstation id=localhost;packet size=4096" />
	</kCura.Config>
	<appSettings>
		
		<!-- Set by jeeves on CI -->
		<add key="ServerBindingType" value="https" />
		<!-- change to <add key="RelativityInstanceAddress" value="your_testvm.kcura.corp" />-->

		<add key="RelativityInstanceAddress" value="localhost" />
		<add key="SQLServerAddress" value="localhost\EDDSINSTANCE001" />

		<!-- If empty, application uses the value of RelativityInstanceAddress -->
		<add key="targetDbHost" value="" />
		<add key="RESTServerAddress" value="" />
		<add key="RSAPIServerAddress" value="" />
		
		<add key="AdminUsername" value="relativity.admin@kcura.com" />
		<add key="AdminPassword" value="Test1234!" />
		<add key="relativityUserFirstName" value="Relativity" />
		<add key="relativityUserLastName" value="Admin" />

		<add key="SQLUsername" value="EDDSdbo" />
		<add key="SQLPassword" value="MySqlPassword123" />
		<add key="connectionStringEDDS" value="data source={0}; initial catalog=EDDS;persist security info=False;user id={1};password={2}; workstation id={0};packet size=4096" />
		<add key="connectionStringWorkspace" value="data source={1}; initial catalog=EDDS{0};persist security info=False;user id={2};password={3}; workstation id={1};packet size=4096" />		

		<add key="keplerTimeout" value="1000" />
		<add key="buildPackages" value="\\bld-pkgs.kcura.corp\Packages\IntegrationPoints" />
		<add key="branch" value="develop" />
		<add key="applicationPath" value="RAP" />
		<add key="applicationRapFileName" value="RelativityIntegrationPoints.Auto.rap" />

		<add key="ldapConnectionPath" value="kcura.corp/OU=Employees,OU=Accounts,OU=kCura,DC=kCura,DC=corp" />
		<add key="ldapUsername" value="kcura\tv" />
		<add key="ldapPassword" value="kCuraM0bileTelevision$" />

		<add key="ftpConnectionPath" value="IL1DDMLPL3AG001.kcura.corp" />
		<add key="ftpUsername" value="ftpuser" />
		<add key="ftpPassword" value="ftppass" />

		<add key="UI.TemplateWorkspace" value="Relativity Starter Template" />

		<add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://[your namespace].servicebus.windows.net;SharedSecretIssuer=owner;SharedSecretValue=[your secret]" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="SavedSearchArtifactName" value="All Documents" />
		<add key="ProductionArtifactName" value="Test Production" />
		<add key="ViewArtifactName" value="Documents" />
		<add key="AdditionalFieldNames" value="Email BCC,Email CC,Email From,Email To" />
		<add key="LongTextFieldName" value="Extracted Text" />
		<add key="DestinationPath" value="c:\RIP_ExportTest" />
		<add key="InputFolder" value="c:\RIP_ImportTest" />
		<add key="UseLocalRAP" value="true" />
		<add key="LocalRAPFileLocation" value="..\Applications\RelativityIntegrationPoints.Auto.rap" />
		<add key="JenkinsBuildUseIPRapFile" value="JenkinsUseIPRapFile" />
		<add key="UseLegacyTemplateName" value="JenkinsUseLegacyTemplateNameInTests" />
		<add key="CustomizedConfigurationOverridesLocation" value="S:\Sourcecode\RIP.Tests.Custom.config"/>

		<!-- ========== UI tests ========== -->
		<!-- Time of implicit wait for web element to be present on page, used by driver's Find(), [FindsBy], etc. -->
		<add key="ui.implicitWaitInSec" value="20" />
		<!-- Time after tests assume there won't be more ajax calls after page loading -->
		<add key="ui.waitForAjaxCallsInSec" value="3" />
		<!-- Total time to wait for page to load -->
		<add key="ui.waitForPageInSec" value="90" />
		<add key="UI.TimeoutMultiplier" value="2.0" />

		<!-- Values for all WebDrivers -->
		<!-- Acceptable values: chrome, firefox -->
		<add key="UI.Browser" value="chrome" />
		<add key="UI.BrowserWidth" value="1920" />
		<add key="UI.BrowserHeight" value="1400" />
		<add key="UI.Options.Arguments.Headless" value="true" />
		<add key="UI.DriverService.HideCommandPromptWindow" value="true" />
		<add key="UI.Options.AcceptInsecureCertificates" value="true" />

		<!-- Values for ChromeDriver -->
		<add key="UI.ChromeDriver.MaxSupportedVersion" value="72.0.0.0" />
		<add key="UI.DriverService.LogPath" value="chromeLog.txt" />
		<add key="UI.Options.Arguments.DisableInfoBars" value="true" />
		<add key="UI.Options.Arguments.IgnoreCertificateErrors" value="true" />

		<add key="UI.Options.AdditionalCapabilities.AcceptSslCertificates" value="true" />
		<add key="UI.Options.AdditionalCapabilities.AcceptInsecureCertificates" value="true" />

		<add key="UI.Options.ProfilePreference.CredentialsEnableService" value="false" />
		<add key="UI.Options.ProfilePreference.ProfilePasswordManagerEnabled" value="false" />

		<!-- === End of UI tests ========== -->

	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
	<system.serviceModel>
		<extensions>
			<!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
			<behaviorExtensions>
				<add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</behaviorExtensions>
			<bindingElementExtensions>
				<add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus,  Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</bindingElementExtensions>
			<bindingExtensions>
				<add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</bindingExtensions>
		</extensions>
	</system.serviceModel>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>