<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="kCura.Config" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <kCura.Config>
    <add key="connectionString" value="data source=CD-SUT-COV1JK8Z\EDDSINSTANCE001;initial catalog=EDDS;persist security info=False;user id=MOJUSER;password=MOJEHASLO; workstation id=localhost;packet size=4096" />
  </kCura.Config>
  <appSettings>
    <!-- Set by jeeves on CI -->
    <add key="ServerBindingType" value="https" />

    <add key="RelativityHostAddress" value="testvm" />
    <add key="SqlServer" value="testvm\EDDSINSTANCE001" />

    <add key="GrazynaRunSettingsJsonPath" value="C:\example\file.json" />

    <!-- If empty, application uses the value of RelativityHostAddress -->
    <add key="targetDbHost" value="" />

    <add key="AdminUsername" value="relativity.admin@kcura.com" />
    <add key="AdminPassword" value="Test1234!" />
    <add key="relativityUserFirstName" value="Relativity" />
    <add key="relativityUserLastName" value="Admin" />

    <add key="SqlUsername" value="EDDSdbo" />
    <add key="SqlPassword" value="P@ssw0rd@1" />

    <add key="connectionStringEDDS" value="data source={0}; initial catalog=EDDS;persist security info=False;user id={1};password={2}; workstation id={0};packet size=4096" />
    <add key="connectionStringWorkspace" value="data source={1}; initial catalog=EDDS{0};persist security info=False;user id={2};password={3}; workstation id={1};packet size=4096" />

    <add key="keplerTimeout" value="1000" />
    <add key="buildPackages" value="\\bld-pkgs.kcura.corp\Packages\IntegrationPoints" />
    <add key="branch" value="develop" />
    <add key="applicationPath" value="RAP" />

    <add key="ldapConnectionPath" value="rip-openldap-cvnx78s.eastus.azurecontainer.io/ou=Administrative,dc=rip-openldap-cvnx78s,dc=eastus,dc=azurecontainer,dc=io" />
    <add key="ldapUsername" value="cn=admin,dc=rip-openldap-cvnx78s,dc=eastus,dc=azurecontainer,dc=io" />
    <add key="ldapPassword" value="Test1234!" />

    <add key="ftpConnectionPath" value="13.86.62.46" />
    <add key="ftpUsername" value="sftpuser" />
    <add key="ftpPassword" value="sftppassword" />

    <add key="FileshareServicesPath" value="\\bld-pkgs\Packages\arm-test-services\master\1.1.7\ARMTestServices.rap" />
    <add key="O365Path" value="\\bld-pkgs\Packages\o365-integration\release-11.3-mayapple\11.3.3\Office_365_Integration.rap" />
    <add key="JsonLoaderPath" value="\\bld-pkgs\Packages\integrationpoints-jsonloader\master\11.1.2\JsonLoader.rap" />
    <add key="MyFirstProviderPath" value="\\bld-pkgs\Packages\integrationpoints-myfirstprovider\master\11.1.5\MyFirstProvider.rap" />

		<add key="SystemTestData" value="SystemTestData" />

    <add key="UI.TemplateWorkspace" value="Functional Tests Template" />

    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://[your namespace].servicebus.windows.net;SharedSecretIssuer=owner;SharedSecretValue=[your secret]" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!-- ========== Tests.Elf ========== -->
    <add key="Test.Elf.SavedSearchArtifactName" value="All Documents" />
    <add key="Test.Elf.ProductionArtifactName" value="Test Production" />
    <add key="Test.Elf.ViewArtifactName" value="Documents" />
    <add key="Test.Elf.LongTextFieldName" value="Extracted Text" />
    <add key="Test.Elf.DestinationPath" value="c:\RIP_ExportTest" />
    <!-- ========== End Tests.Elf ========== -->

    <add key="InputFolder" value="c:\RIP_ImportTest" />
    <add key="UseLocalRAP" value="true" />
    <add key="LocalApplicationsRAPFilesLocation" value="..\Applications\" />
    <add key="RipRapFileName" value="RelativityIntegrationPoints.Auto.rap" />
    <add key="JenkinsBuildUseIPRapFile" value="JenkinsUseIPRapFile" />
    <add key="UseLegacyTemplateName" value="JenkinsUseLegacyTemplateNameInTests" />
    <add key="CustomizedConfigurationOverridesLocation" value="S:\Sourcecode\RIP.Tests.Custom.config" />

    <!-- ========== UI tests ========== -->
    <add key="ui.testRepeatOnErrorCount" value="3" />
    <!-- Time of implicit wait for web element to be present on page, used by driver's Find(), [FindsBy], etc. -->
    <add key="ui.implicitWaitInSec" value="0" />
    <!-- Time after tests assume there won't be more ajax calls after page loading -->
    <add key="ui.waitForAjaxCallsInSec" value="30" />
    <!-- Total time to wait for page to load -->
    <add key="ui.waitForPageInSec" value="180" />
    <add key="UI.TimeoutMultiplier" value="2.0" />
    <add key="UI.SkipUserCreation" value="true" />

    <!-- Values for all WebDrivers -->
    <!-- Acceptable values: chrome, chromium, firefox -->
    <add key="UI.Browser" value="chromium" />
    <add key="UI.BrowserPath" value="..\..\..\buildtools\Relativity.Chromium.Portable\tools\Chrome.exe" />
    <add key="UI.BrowserWidth" value="1920" />
    <add key="UI.BrowserHeight" value="1400" />
    <add key="UI.Options.Arguments.Headless" value="true" />
    <add key="UI.DriverService.HideCommandPromptWindow" value="true" />
    <add key="UI.Options.AcceptInsecureCertificates" value="true" />

    <!-- Values for ChromeDriver -->
    <add key="UI.DriverService.LogPath" value="chromeLog.txt" />
    <add key="UI.Options.Arguments.DisableInfoBars" value="true" />
    <add key="UI.Options.Arguments.IgnoreCertificateErrors" value="true" />
    <add key="UI.Options.Arguments.NoSandbox" value="true" />

    <add key="UI.Options.AdditionalCapabilities.AcceptSslCertificates" value="true" />
    <add key="UI.Options.AdditionalCapabilities.AcceptInsecureCertificates" value="true" />

    <add key="UI.Options.ProfilePreference.CredentialsEnableService" value="false" />
    <add key="UI.Options.ProfilePreference.ProfilePasswordManagerEnabled" value="false" />

    <!-- === End of UI tests ========== -->

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.serviceModel>
    <extensions>
      <!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
      <behaviorExtensions>
        <add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus,  Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
<runtime><assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  <dependentAssembly>
    <assemblyIdentity name="kCura.Injection" publicKeyToken="318fc9f898ce154d" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-13.1.0.0" newVersion="13.1.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-1.0.2.33" newVersion="1.0.2.33" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-4.9.4.0" newVersion="4.9.4.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="System.Runtime.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="System.IO.FileSystem" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="System.IO.FileSystem.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="System.Security.Cryptography.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="System.Xml.XPath.XDocument" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
  </dependentAssembly>
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-3.11.0.0" newVersion="3.11.0.0" />
  </dependentAssembly>
</assemblyBinding></runtime></configuration>