<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="psake" version="4.7.4" />
    <package id="kCura.PSBuildTools" version="0.7.0" />
    <package id="JetBrains.ReSharper.CommandLineTools" version="2018.2.3" />
    <package id="JetBrains.dotCover.CommandLineTools" version="2018.2.3" />
    <package id="NUnit.ConsoleRunner" version="3.11.1" />
	<package id="NUnit.Extension.VSProjectLoader" version="3.8.0" />
	<package id="OpenCover" version="4.7.922" />
    <package id="reportgenerator" version="4.1.9" />
    <package id="DataTransfer.Legacy" version="0.1.30" />
</packages>