<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net462" />
  <package id="CSharpGuidelineAnalyzer" version="1.0.3.0" targetFramework="net462" developmentDependency="true" />
  <package id="FluentAssertions" version="4.19.2" targetFramework="net451" />
  <package id="kCura" version="9.5.289.9" targetFramework="net462" />
  <package id="kCura.Injection" version="9.5.289.9" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net462" />
  <package id="NSubstitute" version="1.10.0.0" targetFramework="net451" />
  <package id="NUnit" version="3.4.1" targetFramework="net462" />
  <package id="Relativity.API" version="9.5.289.9" targetFramework="net462" />
  <package id="Relativity.Authentication.Interfaces" version="9.5.289.9" targetFramework="net462" />
  <package id="Relativity.Logging.Interfaces" version="9.4.308" targetFramework="net462" />
</packages>