<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.7.82" targetFramework="net462" />
  <package id="kCura.OutsideIn.FI.Win32" version="2023.4.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net462" />
  <package id="NuGetPowerTools" version="0.29" targetFramework="net462" />
  <package id="Polly" version="5.7.0" targetFramework="net462" />
  <package id="Relativity" version="48.2.26" targetFramework="net462" />
  <package id="Relativity.DataExchange.Client.SDK" version="2.9.1001" targetFramework="net462" />
  <package id="relativity.faspmanager" version="3.7.2.0" targetFramework="net462" />
  <package id="Relativity.Kepler" version="2.15.6" targetFramework="net462" />
  <package id="Relativity.Kepler.Client" version="2.15.6" targetFramework="net462" />
  <package id="Relativity.Logging.Interfaces" version="2018.11.8" targetFramework="net462" />
  <package id="Relativity.OAuth2Client" version="1.5.2" targetFramework="net462" />
  <package id="Relativity.OAuth2Client.Implicit" version="1.5.2" targetFramework="net462" />
  <package id="Relativity.OAuth2Client.Interfaces" version="1.5.2" targetFramework="net462" />
  <package id="Relativity.Productions.Services.Interfaces" version="11.1.0" targetFramework="net462" />
  <package id="Relativity.SecretCatalog" version="1.0.18" targetFramework="net462" />
  <package id="Relativity.Services.DataContracts" version="11.2.151.22" targetFramework="net462" />
  <package id="Relativity.Services.Interfaces" version="11.2.151.22" targetFramework="net462" />
  <package id="Relativity.Services.Interfaces.Private" version="13.0.2" targetFramework="net462" />
  <package id="Relativity.Services.Layout.Interfaces" version="1.1.46" targetFramework="net462" />
  <package id="Relativity.Telemetry.DataContracts.Shared" version="3003.1.0" targetFramework="net462" />
  <package id="Relativity.Telemetry.Services.Interface" version="3003.0.2" targetFramework="net462" />
  <package id="relativity.transfer.client" version="7.4.9" targetFramework="net462" />
  <package id="SSH.NET" version="2016.0.0" targetFramework="net462" />
</packages>