<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SystemInterface" publicKeyToken="fbc3a63dd3cf8960" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.19.0.115" newVersion="0.19.0.115" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>