<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net462" />
  <package id="Castle.Core" version="3.3.0" targetFramework="net462" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net462" />
  <package id="CSharpGuidelineAnalyzer" version="1.0.3.0" targetFramework="net462" developmentDependency="true" />
  <package id="IdentityModel" version="1.6.0" targetFramework="net462" />
  <package id="kCura" version="9.5.264.6" targetFramework="net462" />
  <package id="kCura.Agent" version="9.5.264.6" targetFramework="net462" />
  <package id="kCura.Injection" version="9.5.264.6" targetFramework="net462" />
  <package id="kCura.Relativity.Client" version="9.5.264.6" targetFramework="net462" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Protocol.Extensions" version="1.0.2.206221351" targetFramework="net462" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net462" />
  <package id="Microsoft.Owin.FileSystems" version="3.0.1" targetFramework="net462" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net462" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net462" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.0.1" targetFramework="net462" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net462" />
  <package id="Microsoft.Owin.Security.OpenIdConnect" version="3.0.1" targetFramework="net462" />
  <package id="Microsoft.Owin.StaticFiles" version="3.0.1" targetFramework="net462" />
  <package id="Microsoft.Web.Administration" version="7.0.0.0" targetFramework="net462" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net462" />
  <package id="Owin" version="1.0" targetFramework="net462" />
  <package id="Relativity" version="9.5.264.6" targetFramework="net462" />
  <package id="Relativity.API" version="9.5.264.6" targetFramework="net462" />
  <package id="Relativity.Authentication" version="9.5.264.6" targetFramework="net462" />
  <package id="Relativity.Authentication.Interfaces" version="9.5.264.6" targetFramework="net462" />
  <package id="Relativity.Logging.Interfaces" version="9.4.308" targetFramework="net462" />
  <package id="Relativity.ServiceBus" version="2.1.13" targetFramework="net462" />
  <package id="Relativity.ServiceBus.PriorityQueue" version="9.5.264.6" targetFramework="net462" />
  <package id="Relativity.ServiceBus.Provider.Azure" version="2.1.13" targetFramework="net462" />
  <package id="Relativity.ServiceBus.Provider.Windows1_1" version="2.1.13" targetFramework="net462" />
  <package id="Relativity.ServiceBus.Utilities" version="9.5.264.6" targetFramework="net462" />
  <package id="Relativity.Telemetry.APM" version="9.4.148" targetFramework="net462" />
  <package id="Relativity.Toggles" version="1.0.0.84" targetFramework="net462" />
  <package id="Relativity.Vfs" version="1.0.22" targetFramework="net462" />
  <package id="ServiceBus.v1_1" version="1.0.5" targetFramework="net462" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.2.206221351" targetFramework="net462" />
</packages>