<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net45" />
  <package id="kCura.Config" version="9.5.103.62" targetFramework="net451" />
  <package id="kCura.Crypto" version="9.5.103.62" targetFramework="net451" />
  <package id="kCura.Data" version="9.5.103.62" targetFramework="net451" />
  <package id="kCura.Data.RowDataGateway" version="9.5.103.62" targetFramework="net451" />
  <package id="kCuraCore" version="9.5.103.62" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="Relativity.ImportExport" version="9.5.103.62" targetFramework="net451" />
  <package id="Relativity.OAuth2Client" version="1.0.1" targetFramework="net451" />
  <package id="Relativity.OAuth2Client.Interfaces" version="1.0.1" targetFramework="net451" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net451" />
  <package id="Castle.Core" version="3.3.0" targetFramework="net451" />
</packages>