<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net451" />
  <package id="kCura.Agent" version="9.3.406.5" targetFramework="net451" />
  <package id="kCura.Apps.Common.Config" version="1.0.227.4" targetFramework="net451" />
  <package id="kCura.Apps.Common.Data" version="1.0.227.4" targetFramework="net451" />
  <package id="kCura.Apps.Common.Utils" version="1.0.227.4" targetFramework="net451" />
  <package id="kCuraCore" version="9.3.406.5" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="NSubstitute" version="1.9.2.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="Relativity.API" version="9.3.406.5" targetFramework="net451" />
</packages>