@{
	ViewBag.Title = "Settings";
}

<link href="~/Content/site.css" rel="stylesheet" />
<div class="card">

	<label class="section label">My First Provider</label>
	<div class="field-row">
		<div class="field-label required">
			File Location:
		</div>
		<div class="field-value ">
			<input type="text" name="field" id="fileLocation" class="input-box" placeholder="Please enter a file location" />
		</div>
	</div>
</div>

<script src="~/Scripts/jquery-3.6.0.js"></script>
<script src="~/Scripts/jquery-postMessage.js"></script>
<script src="~/Scripts/frame-messaging.js"></script>
<script src="~/Scripts/first-provider.js"></script>
