@{
    Layout = "~/Views/Shared/_StepLayout.cshtml";
}

<link href="~/Content/import-preview.css" rel="stylesheet" />

<div class="card" id="step-progress-container">
    <p class="card-header">Load File Summary <i class="icon-chevron-down"></i> </p>

    <div id="transfer-progress-div" class="display-flex flex-container-row">
        <div id="active-transfer-left-container" class="display-flex flex-container-column">
            <div id="active-transfer-outcome" class="active-transfer-left-div active-transfer-upload"></div>

            <div class="import-progress-bar">
                <b>Preparing Preview</b>
                <div class="progress-bar-outline display-flex flex-container-column">
                    <div class="progress-bar-indicator progress-complete" style="width: 50%"></div>
                </div>
            </div>

        </div>
        <div id="transfer-time-stats" class="height-width-100">
            <div id="active-transfer-stats">
                <div class="active-transfer-stats-line">
                    <p class="summary-title">PROGRESS SUMMARY</p>
                    <div class="card-line display-flex flex-container-row">
                        <div class="card-label-div">
                            <label>Status</label>
                        </div>
                        <div class="card-value-div">
                            <p class="active-transfer-status-success" style="color: #5dca77">Completed</p>
                        </div>
                    </div>
                    <div class="card-line display-flex flex-container-row">
                        <div class="card-label-div">
                            <label>Time Elapsed</label>
                        </div>
                        <div class="card-value-div">
                            <p class="elapsed-time">00:02:26</p>
                        </div>
                    </div>
                </div>
                <div class="active-transfer-stats-line">
                    <p class="summary-title">TRANSFER BREAKDOWN</p>
                    <div class="card-line display-flex flex-container-row">
                        <div class="card-label-div">
                            <label>Files Transferred</label>
                        </div>
                        <div class="card-value-div">
                            <p class="transferred-files">28</p>
                        </div>
                    </div>
                    <div class="card-line display-flex flex-container-row">
                        <div class="card-label-div">
                            <label>Data Transferred</label>
                        </div>
                        <div class="card-value-div">
                            <p>612.4 MB</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="file-inventory-table-row">
    <div class="card">
        <div class="aspera-card-header">
            <p class="card-header inventory-card-header">Records</p>
            <span class="pagination-controls">
                <span class="pag-text">Items</span>
                <input id="row-number" value="0" />
                <span class="pag-items">-</span>
                <span class="itemCountContainer">
                    <select id="itemsPerPageSelect">
                        <option value="1">1</option>
                        <option value="4">4</option>
                        <option value="10">10</option>
                        <option selected value="15">15</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                    </select>
                </span>
                <span class="pag-text"> per page</span>
                <span class="pag-nav-button-holder">
                    <span class="pag-nav-button pag-nav-first-dis" id="pag-nav-move-first"></span>
                    <span class="pag-nav-button pag-nav-previous-dis" id="pag-nav-move-previous"></span>
                    <span class="pag-nav-button pag-nav-next-dis" id="pag-nav-move-next"></span>
                    <span class="pag-nav-button pag-nav-last-dis" id="pag-nav-move-last"></span>
                </span>
            </span>
        </div>
        <div id="data-table-container">
            <div class="transfers-table">
                <table id="csvData-table" class="table compact"></table>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/core/data.js"></script>
    <script src="~/Scripts/core/utils.js"></script>
    <script src="~/Scripts/Import/import-preview.js"></script>

}
