@{
    Layout = "~/Views/Shared/_StepLayout.cshtml";
}

<div id="_main" class="table full-width">
    <div id="import-provider-configuration">
        <div class="card">
            <span class="label">Import Detail</span>
            <table style="width: 100%;">
                <tr>
                    <td style="width: 48%;">
                        <div class="field-row">
                            <div class="field-label required">
                                Import Type:
                            </div>
                            <div class="field-value">
                                <ul>
                                    <li>
                                        <div class="field-value">
                                            <input name="import-provider-import-detail-radio" value="production" type="radio" />Production<br />
                                            <input name="import-provider-import-detail-radio" value="document" type="radio" />Document<br />
                                            <input name="import-provider-import-detail-radio" value="image" type="radio" />Image<br />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="field-row">
                            <div class="field-label required">
                                Processing Source:
                            </div>
                            <div class="field-value">
                                <ul>
                                    <li>
                                        <div class="field-value">
                                            <div id="sourceDropdown" class="viewFieldValue" colspan="1">
                                                <select class="fluid-mock-select" id="processingSources"></select>
                                            </div>
                                            <div id="sourceText" class="viewFieldValue viewFieldValueUnderline" colspan="1">
                                                <span id="downloadSourceText"></span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="field-row">
                            <div class="field-label required">
                                Load Data From:
                            </div>
                            <div class="field-value">
                                <ul>
                                    <li>
                                        <div class="field-value">
                                            <select class="fluid-mock-select fluid-mock-fullwidth" id="location-select"></select>
                                            <div id="jstree-holder-div" class="jstree-holder browse">
                                                <div id="browser-tree" tabindex="0"></div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="field-row">
                            <div class="field-label required">
                                Start Line:
                            </div>
                            <div class="field-value">
                                <ul>
                                    <li>
                                        <div class="field-value">
                                            <input id="import-hascolumnnames-checkbox" type="checkbox" />
                                            <span>First line contains column numbers</span>
                                            @* data-bind="disable: HasBeenRun()m checked: ExportImages"*@
                                        </div>
                                    </li>
                                    <li>
                                        <div class="field-value">
                                            <input id="import-columnname-numbers" type="number" min="0" placeholder="0" />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/jstree.min.js"></script>
    <script src="~/Scripts/Import/import-setup.js"></script>
    <script src="~/Scripts/Import/import-provider-settings-step.js"></script>

}