@{
    Layout = "~/Views/Shared/_StepLayout.cshtml";
}
<meta name="import-base-url" content="/Relativity/CustomPages/DCF6E9D1-22B6-4DA3-98F6-41381E93C30C/" />
<link href="~/Content/import.css" rel="stylesheet" />
<link href="~/Content/themes/default/style.min.css" rel="stylesheet" />
<link href="~/Content/jstree-fluid.css" rel="stylesheet" />
<link href="~/Content/buttermilk-overrides.css" rel="stylesheet" />


<div id="_main">
    <div id="import-provider-configuration">
        <div class="card">
            <span class="label">Import Detail</span>
            <table style="width: 100%;">
                <tr>
                    <td style="width: 48%;">
                        <div class="field-row">
                            <div class="field-label required">
                                Import Type:
                            </div>
                            <div class="field-value select2-double-width">
                                <select class="fluid-mock-select" id="import-importType" data-bind="options:importTypes, optionsText:'name', optionsValue:'value', value:selectedImportType, optionsCaption: 'Select...' ,select2: { width: '100%' }"></select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 48%;">
                        <div class="field-row">
                            <div class="field-label required">
                                Processing Source:
                            </div>
                            <div class="field-value select2-double-width">
                                <select class="fluid-mock-select" id="processingSources" data-bind="optionsText: 'location', optionsValue: 'artifactId', options: ProcessingSourceLocationList, optionsCaption: 'Select...', value: ProcessingSourceLocation, select2: { width: '100%' }"></select>
                            </div>
                        </div>
                        <div class="field-row">
                            <div class="field-label required">
                                Load Data From:
                            </div>
                            <div class="field-value select2-double-width">
                                <div id="location-select" class="select2-container fluid-mock-select filter-container">
                                    <input id="location-input" type="text" readonly='readonly' placeholder="Select..." data-bind="value: Fileshare" />
                                    <span id="location-span" class="icon legal-hold icon-chevron-down" role="presentation"></span>
                                </div>
                                <div id="jstree-holder-div" class="jstree-holder browse" hidden="hidden">
                                    <div id="browser-tree" tabindex="0"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 48%;">
                        <div class="field-row">
                            <div class="field-label required">
                                Start Line:
                            </div>
                            <div class="field-value">
                                <input id="import-columnname-numbers" type="number" min="0" value="1" />
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        @*Todo: Show and Hide Cards - dependent on radio buttons for Input Type*@

        <div class="card" data-bind="visible: selectedImportType() == 'production'">
            <span class="label">Production</span>
            <table style="width: 100%;">
                <tr>
                    <td style="width: 48%;">
                        <div class="field-row">
                            <div class="field-label required">
                                Production Label:
                            </div>
                        </div>
                    </td>
            </table>
        </div>

        <div class="card" data-bind="visible: selectedImportType() == 'document'">
            <span class="label">File Encoding</span>
            <table style="width: 100%;">
                <tr>
                    <td style="width: 48%;">
                        <div class="field-row">
                            <div class="field-label required">
                                File Encoding:
                            </div>
                            <div class="field-value select2-double-width">
                                <select class="fluid-mock-select" id="import-fileEncoding" data-bind="select2: { width: '100%' }"></select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 48%;">
                        <div class="field-row">
                            <div class="field-label required">
                                Column:
                            </div>
                            <div class="field-value select2-double-width">
                                <select class="fluid-mock-select" id="import-column" data-bind="select2: { width: '100%' }"></select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 48%;">
                        <div class="field-row">
                            <div class="field-label required">
                                Quote:
                            </div>
                            <div class="field-value select2-double-width">
                                <select class="fluid-mock-select" id="import-quote" data-bind="select2: { width: '100%' }"></select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 48%;">
                        <div class="field-row">
                            <div class="field-label required">
                                Newline:
                            </div>
                            <div class="field-value select2-double-width">
                                <select class="fluid-mock-select" id="import-newline" data-bind="select2: { width: '100%' }"></select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 48%;">
                        <div class="field-row">
                            <div class="field-label required">
                                Multi-Value:
                            </div>
                            <div class="field-value select2-double-width">
                                <select class="fluid-mock-select" id="import-multiValue" data-bind="select2: { width: '100%' }"></select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 48%;">
                        <div class="field-row">
                            <div class="field-label required">
                                Nested Value:
                            </div>
                            <div class="field-value select2-double-width">
                                <select class="fluid-mock-select" id="import-nestedValue" data-bind="select2: { width: '100%' }"></select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 48%">
                        <div class="field-row">
                            <div class="field-label">
                                <span>First Line Contains Column Names:</span>
                            </div>
                            <div class="field-value">
                                @**Todo: add css space here to line up with the label*@
                                <input type="radio" name="firstLineHasColNames" value="true"/> Yes<br/>
                                <input type="radio" name="firstLineHasColNames" value="false"/> No
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="card" data-bind="visible: selectedImportType() == 'image'">
            <span class="label">Image</span>
            <table style="width: 100%;">
                <tr>
                    <td style="width: 48%;">
                        <div class="field-row">
                            <div class="field-label required">
                                Image Data:
                            </div>
                        </div>
                    </td>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/core/data.js"></script>
    <script src="~/Scripts/core/utils.js"></script>
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/export/export-enums.js"></script>
    <script src="~/Scripts/jstree.min.js"></script>
    <script src="~/Scripts/export/location-jstree-selector.js"></script>
    <script src="~/Scripts/integration-point/binding.js"></script>


    <script src="~/Scripts/Import/import-setup.js"></script>
    <script src="~/Scripts/Import/import-model.js"></script>
    <script src="~/Scripts/Import/import-provider-settings-step.js"></script>

}
