$card-color : #f7f7f7;
$card-label-color:#3471b7;

$color-orange: #f59d1f;
$color-white: #ffffff;

$color-darkest-blue: #102d4f;
$color-ligther-blue: #1b54ab;
$color-border: #c1c1c1;


$default-font-color: #666666;
$font-family:'Open Sans', sans-serif;

$font-light: 300;
$font-normal: 400;
$font-bold: 600;
$font-bolder: 700;

