#jstree-holder-div {
	position: absolute;
	margin: 0;
	padding: 0;
	background-color: white;
	height: 50%;
	z-index: 200;	
	border: 1px solid #c1c1c1;
	border-top: 0px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
	overflow: auto;
}

.jstree-children, .jstree-container-ul {
	margin: 2px !important;
}

.jstree-default .jstree-icon:empty {
	width: 24px;
	height: 22px;
	line-height: 24px;
}

.jstree-default .jstree-clicked .jstree-themeicon {
	background-position: -129px -70px;
}

.jstree-default .jstree-themeicon-custom {
	background-image: url('themes/default/32px.png');
	background-position: -166px -70px;
}

.jstree-default .jstree-clicked .jstree-themeicon-custom {
	background-image: url('themes/default/32px.png');
	background-position: -200px -70px;
}


.jstree-default .jstree-clicked {
	background: #dfebf8 !important;
	font-weight: 600;
	box-shadow: inset 0 0 1px #5d99df;
	border: 1px solid #5d99df;
}

.jstree-holder .jstree-default .jstree-hovered {
	border: 1px solid #5d99df;
}

.jstree-default .jstree-hovered {
	background: white;
	box-shadow: inset 0 0 0px #999;
}

.jstree-anchor, .jstree-anchor:link, .jstree-anchor:visited, .jstree-anchor:hover, .jstree-anchor:active {
	text-decoration: none !important;
	border: 1px solid transparent;
}

#location-select {
	width: 100%;
	border: 1px solid #c1c1c1;
	position:relative;	
	cursor: pointer;
}

#location-input {
	width: 407px; 
	border: 0px; 
	padding-left: 7px;
	cursor: pointer;
}

#location-input::-webkit-input-placeholder {
   color: #000;
}

#location-input:-moz-placeholder {
   color: #000;
}

#location-input::-moz-placeholder {
   color: #000;
}

#location-input:-ms-input-placeholder {
   color: #000;
}

#location-span {
	height: 100%; 
	padding-top: 6px; 
	position: absolute; 
	background-color: #fff;
}

.location-disabled {
	background-color: #e8e8e8!important;
	cursor: default!important;
	pointer-events: none!important;
}