#jstree-holder-div {
	position: absolute;
	margin: 0;
	padding: 0;
	background-color: white;
	height: 50%;
	z-index: 200;	
	border: 1px solid #c1c1c1;
	border-top: 0px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
	overflow: auto;
}

.jstree:focus {
	outline-style: none;
}

.jstree-default .jstree-node, 
.jstree-default .jstree-icon {
    background-image: none;	
}

.jstree-children {
	position: relative;
}

.jstree-default .jstree-clicked {
	background: #dfebf8 !important;
	font-weight: 600;
	box-shadow: inset 0 0 1px #5d99df;
	border: 1px solid #5d99df;
}

.jstree-hovered {
	background: white!important;
	border: 1px solid #5d99df!important;
	border-radius: 0px!important;	
	box-shadow: inset 0 0 0px #999!important;
}

.jstree-anchor, 
.jstree-anchor:link, 
.jstree-anchor:visited, 
.jstree-anchor:hover, 
.jstree-anchor:active {
	text-decoration: none !important;
	border: 1px solid transparent;
}

#location-select {
	width: 100%;
	border: 1px solid #c1c1c1;
	position:relative;	
	cursor: pointer;
}

#location-input {
	width: 407px; 
	border: 0px; 
	padding-left: 7px;
	cursor: pointer;
}

#location-input::-webkit-input-placeholder {
   color: #000;
}

#location-input:-moz-placeholder {
   color: #000;
}

#location-input::-moz-placeholder {
   color: #000;
}

#location-input:-ms-input-placeholder {
   color: #000;
}

#location-span {
	height: 100%; 
	padding-top: 6px; 
	position: absolute; 
	background-color: #fff;
}

.location-disabled {
	background-color: #e8e8e8!important;
	cursor: default!important;
	pointer-events: none!important;
}

@font-face {
    font-family: fluid-ui;
    src: url(fonts/fluid-ui.eot);
    src: url(fonts/fluid-ui.eot?#iefix) format('embedded-opentype'),
		 url(fonts/fluid-ui.woff) format('woff'),
		 url(fonts/fluid-ui.ttf) format('truetype'),
		 url(fonts/fluid-ui.svg#fluid-ui) format('svg');
}

i.jstree-icon {
	font-family: 'fluid-ui';
	font-size: 16px!important;
	font-style: normal!important;	
}

i.jstree-ocl {
	color: #000;
}

i.jstree-themeicon.jstree-themeicon-custom {	
	color: #1e5495;
}

.jstree-root-folder:before{
    content: 'S';
    color: #f59c1f;
}

.jstree-folder-root::before {
    content: 'S';
    color: #f59c1f;
}

.jstree-folder::before {
    content: 'u';
}

.jstree-search::before {
	content: 'C';
}

.jstree-folder-search::before {
	content: 'B';
}

.jstree-search-personal::before {
	content: 'R';
}

li.jstree-node.jstree-closed > i.jstree-icon.jstree-ocl::after {
	content: 'K';
}

li.jstree-node.jstree-open > i.jstree-icon.jstree-ocl::after {
	content: 'x';
}

ul.jstree-container-ul.jstree-children::before {
    content: '';
    position: absolute;
    border-top: dotted 1px;
    width: 14px;
    top: 12px;
    left: 12px;
    pointer-events: none;
}

.jstree-children ul::before {
	content: '';
    position: absolute;
    border-left: dotted 1px;
    left: 36px;    
    top: 0px;
    bottom: 12px;
	pointer-events: none;
}

.jstree-children ul li:before {
    content: '';
    position: absolute;
    border-bottom: dotted 1px;
    left: 36px;
    width: 14px;
    margin-top: 12px;
	pointer-events: none;
}
