.ui-dialog {
  padding: 0;
}

.list-box option {
  font-size: 13px;
}

.popupArtifactActionBar {
  margin: 5px 12px;
  text-align: right;
}

.popupTitle {
    border-radius: 3px 3px 0 0;
}