body
{
	font-size: .85em;
	margin: 0;
}

header, footer, nav, section
{
	display: block;
}

.icon i
{
	font-style: normal;
}

h1
{
	padding: 0;
	margin: 0;
	font-weight: 600;
	color: #102d4f;
	font-size: 1.0em;
}

.table
{
	display: table;
}

.flex
{
	display: flex;
	align-items: center;
}

.mapButtonsContainer
{
	margin-bottom: 5px;
	margin-top: 10px;
}

.mappingColumn
{
	width: 110px;
}

.moveMappedFieldsButtons
{
}

.full-width
{
	width: 100%;
}

.full-height
{
	height: 100%;
}

.table.fixed
{
	table-layout: fixed;
}

.cell
{
	display: table-cell;
}

.v-align
{
	vertical-align: middle;
}

.h-align
{
	text-align: center;
}

#stepProgress
{
	width: 85%;
}

.button i
{
	vertical-align: -2px;
	padding: 0 5px;
}

#save i
{
	padding: 0px;
}


#progressButtons button
{
	padding: 0 10px;
}

#headerContainer button{
	width: 77px;
}

#bodyContainer
{
	position: absolute;
	top: 39px;
	bottom: 0;
	left: 0;
	right: 0;
}

.loading-dialog *
{
	margin: 0 auto;
	min-height: 90px;
}

.loading-dialog p
{
	padding-left: 10px;
}

.loading
{
	background: url("./Images/64x64.gif") no-repeat center;
	height: 80px;
	width: 80px;
	left: 11px;
	right: 208px;
	top: 19px;
}

.transparent {
	background-color: transparent!important;
}

#progressIndicatorContainer {
	height: 100px!important;
	width: 100px!important;
}

.console
{
	height: 100%;
	width: 200px;
	background-color: #f7f7f7!important;
	border: 1px solid #c1c1c1;
	padding: 10px 10px 0 10px;
}

	.console button
	{
		width: 100%;
	}


.section
{
	padding-top: 10px;
}

	.section.button
	{
		width: 100%;
	}

.content
{
	margin: 0 auto;
}

.field-row
{
	padding-top: 10px;
}

ul li .day-select
{
	width: 80px;
	min-width: 80px;
}

.field-value .filter-container
{
	width: 180px;
	height: 28px;
	margin-right: 5px;
}

.page-message.page-error
{
	background-color: #ac3243;
	border: 1px solid #ac3243;
	border-radius: 2px;
	color: #ffffff;
	min-height: 24px;
	margin-top: 5px;
	position: relative;
	z-index: 1;
	font-size: 12px;
	font-weight: 400;
	padding: 8px 16px 0;
}

	.page-message.page-error > div, .page-message.page-info > div
	{
		display: inline-block;
	}
.page-error .error-list
{
	padding-left: 16px;
	margin-top: 4px;
}

.page-error .error-list .error-help-url
{
	color: white;
	text-decoration: underline !important;
}
.page-info .icon-step-complete
{
	display: inline-block;
	vertical-align: middle;
	padding: 1px 4px 0;
	float: left;
}

.page-message.page-info
{
	vertical-align: middle;
	border-radius: 2px;
	color: #ffffff;
	min-height: 24px;
	margin-bottom: 5px;
	position: relative;
	z-index: 1;
	font-size: 12px;
	font-weight: 400;
	padding: 4px 4px 0;
}

.page-message.page-info
{
	background-color: #467e11;
	border: 1px solid #467e11;
}

.field-validation-error
{
	background-color: #ac3243;
	border: 1px solid #ac3243;
	border-radius: 2px;
	color: #ffffff;
	height: 24px;
	margin-top: 5px;
	position: relative;
	z-index: 1;
	font-size: 12px;
	font-weight: 400;
	display: inline-block;
	padding: 4px 4px 0;
}

.icon-error::before
{
	padding-right: 5px;
}

.icon-error-on-list
{
	float:  left;
	display: inline-block;
}

#configurationFrame
{
	border: none;
	min-height: 600px;
}



.list-box
{
	font-family: 'Open Sans Regular', 'Open Sans';
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	text-decoration: none;
	color: #000000;
	min-width: 261px;
	width: 25%;
	height: 400px;
	overflow-x: auto;
}

.map-move a
{
	margin-bottom: 5px;
	text-decoration: none;
	display: block;
}

	.map-move a:before
	{
		border-radius: 3px;
		padding: 1px;
		font-size: 19px;
		color: #1b5495;
	}
	.map-move a:hover:before {
		color: #007fc6;

	}
.identifier
{
	margin-top: 20px;
}

.map-field-title
{
	padding-top: 10px;
	padding-bottom: 4px;
	display: flex;
	width: 1220px;
}

.map-field-btn
{
}

.leftSide-field
{
	font-weight: bold;
}

.rightSide-field
{
	font-weight: bold;
	text-align: right;
	width: 100%;
}
.source-field, .rightSide-field.reverse
{
	margin-left: 92%;
}

.list-title
{
	font-size: 13px;
}

#fieldMappings
{
	min-width: 1250px;
}

.selection , .selection-rename
{
	vertical-align: middle;
	padding-right: 17px;
	padding-left: 17px;
}

.selection-rename
{
	vertical-align: top;
	text-align: center;
}

.integrationName
{
	width: 450px !important;
	height: 26px;
}

.startDate, .endDate, .time, .inputBox, .connection-path, .connection-filter
{
	height: 26px;
	border: 1px solid #c1c1c1;
	color: #102d4f;
	border-radius: 3px;
	width: 77px;
}

.inputBox
{
	width: 178px;
}

.connection-path, .connection-filter
{
	width: 450px;
}

.reoccur
{
	width: 32px;
	height: 26px;
	border: 1px solid #c1c1c1;
	color: #102d4f;
	border-radius: 3px;
}

.tooltip.legal-hold[class*="icon-"]:before, .tooltip .legal-hold[class*=" icon-"]:before
{
	color: #006699;
	font-size: 16px;
}

.tooltip.legal-hold[class*="icon-"]:hover:before,
.tooltip .legal-hold[class*=" icon-"]:hover:before
{
	color: #007fc6;
}

.tooltip
{
	cursor: pointer;
	display: inline;
	position: relative;
	z-index: 999;
	margin-top: 10px;
}

	.tooltip a
	{
		text-decoration: none;
	}

ul.actions-right
{
	margin-top: 0;
}

.tooltip:hover:after
{
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	background: #333333;
	background: rgba(0, 0, 0, .8);
	border-radius: 5px;
	bottom: 26px;
	color: #fff;
	content: attr(data-title);
	left: 50%;
	padding: 10px;
	position: absolute;
	text-decoration: none;
	text-transform: uppercase;
	transform: translateX(-50%);
	z-index: 999;
	font-size: 11px;
}

.tooltip.bottom:hover:after
{
	bottom: -35px;
	padding: 10px 10px;
}

.tooltip:hover:before
{
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	border: solid;
	border-color: #333333 transparent;
	border-width: 6px 6px 0 6px;
	bottom: 20px;
	content: "";
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
}

.tooltip.bottom:hover:before
{
	bottom: 0px;
	border-width: 0 6px 6px 6px;
}

.tooltip.open-left:hover:before
{
	border-color: transparent #333333;
	border-width: 6px 0 6px 6px;
	left: -10px;
	top: 0;
}

.tooltip.open-left:hover:after
{
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	right: 29px;
	left: auto;
	bottom: -5px;
	transform: translateY(0);
	white-space: nowrap;
}

.tooltip.on-hold:hover:after
{
	width: 60px;
	text-align: center;
}

select option.hover {
	text-decoration: underline;
	font-weight: bold;
}
#host {
	width: 450px;
	height: 26px;
}
#port {
	width: 50px;
	height: 26px;
}
#username {
	width: 200px;
	height: 26px;
}
#password {
  width: 200px;
	height: 26px;
}
#filename_prefix {
	width: 450px;
	height: 26px;
}

	.filter-container#s2id_timeFormat {
		width: 75px;
	}

.smaller-card {
	width: 525px;
	margin-left: auto;
	margin-right: auto;
}

.float-right {
	float:right;
}

.clear-fix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

select option {
	width: 100%;
	text-overflow: ellipsis;
	overflow-x: hidden;
}

select.list-box	option {
	overflow-x: unset;
}

.fixedColumn {
	width: 261px;
}

/*step3 map fields btns*/
#add-all-source-fields, #add-source-field, #remove-source-field, #remove-all-source-fields ,#attributeFieldTop, #attribute-field-up, #attribute-field-down, #attributeFieldBottom, #workspaceFieldTop, #workspace-field-up, #workspace-field-down, #workspaceFieldBottom, #add-all-workspace-fields, #add-workspace-field, #remove-workspace-field, #remove-all-workspace-fields {
	text-decoration: none !important;
}

.extracted-label {
	color: #333333;
	text-transform: uppercase;
	font-weight: 400;
	text-indent: 15px;
}

.margin-top-8px {
	margin-top: 8px;
}

.longTextField {
	word-wrap: break-word;
}

.precedence-selection{
	min-width: 210px !important;
	height: 22px;
	word-wrap: break-word;
	vertical-align: text-bottom;
	max-width: 210px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-bottom: 1px solid #c1c1c1 !important;
	margin-right: 5px;
}

.fileNamingType_field {
	width: 150px !important;	
	min-width: 0 !important;
}

.fileNamingType_separator {
	min-width: 0 !important;
	width: 115px !important;	
}

.fileNaming-controlButtons {
	height: 22px !important;
	width: 22px !important;
	padding: 0 !important;
	background-size: 100% !important;
	border-radius: 50%;
	vertical-align: middle;
	border: none;
	outline:none;
}

.fileNaming-controlButtons:hover {
	opacity: 0.5;
}

#add-file-name-selection-button {
	background: url(Images/plus-icon.png);
}

#del-file-name-selection-button {
	background:url(Images/minus-icon.png);
}

#file-name-selection{
	max-width: 100% !important;
}

@media (max-width: 1368px){
	#file-name-selection{
		max-width: 90% !important;
	}
}

.addProductionSet-controlButtons {
	height: 22px !important;
	width: 22px !important;
	padding: 0 !important;
	background-size: 100% !important;
	border-radius: 50%;
	vertical-align: middle;
	border: none;
	outline:none;
}

.addProductionSet-controlButtons:hover {
	opacity: 0.5;
}

.addProductionSet-controlButtons:disabled {
	background-color: #EBEBE4 !important;
	border: 1px solid #C1C1C1 !important;
	opacity: 0.5;
	cursor: default !important;
	pointer-events: none !important;
}

#add-production-set-selection-button {
	background: url(Images/plus-icon.png);
}

.pull-left-col-2 {
	margin-left: 305px; /* fixed-column + buttons = 250px + 55px */
}