/* Step Progress Bar*/
.step-progress-bar {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

	.step-progress-bar[data-steps="2"] li {
		width: 49%;
	}

	.step-progress-bar[data-steps="3"] li {
		width: 33%;
	}

	.step-progress-bar[data-steps="4"] li {
		width: 24%;
	}

	.step-progress-bar[data-steps="5"] li {
		width: 19%;
	}

	.step-progress-bar[data-steps="6"] li {
		width: 16%;
	}

	.step-progress-bar[data-steps="7"] li {
		width: 14%;
	}

	.step-progress-bar[data-steps="8"] li {
		width: 12%;
	}

	.step-progress-bar[data-steps="9"] li {
		width: 11%;
	}

	.step-progress-bar li {
		display: inline-block;
		line-height: 3em;
		text-align: center;
		position: relative;
	}

		.step-progress-bar li.last .bar {
			display: none;
		}

		.step-progress-bar li.last .step {
			background-position: -205px 0;
		}

		.step-progress-bar li.pending {
			color: #010000;
			font-weight: 400;
		}

			.step-progress-bar li.pending i {
				color: #eaeaea;
			}

			.step-progress-bar li.pending span {
				color: #808080;
				font-weight: 300;
			}

		.step-progress-bar li.in-progress {
			color: #1b5495;
		}

			.step-progress-bar li.in-progress i {
				color: #1b5495;
			}

			.step-progress-bar li.in-progress span {
				color: #ffffff;
				font-weight: 300;
			}

		.step-progress-bar li.complete {
			color: #808080;
			font-weight: 300;
		}

			.step-progress-bar li.complete i {
				color: #808080;
			}

			.step-progress-bar li.complete span {
				display: none;
			}

		.step-progress-bar li .bar {
			width: 100%;
			height: 8px;
			position: absolute;
			background: #e0e0e0;
			top: 50%;
			margin-top: 14px;
			left: 50%;
		}

		.step-progress-bar li .step {
			background: url(Images/sprite.png) no-repeat;
			background-position: 6px 0;
			height: 50px;
			margin: 0 auto;
			position: relative;
			text-align: center;
			width: 60px;
			z-index: 999;
		}

			.step-progress-bar li .step i {
				display: inline-block;
				font-size: 3.3em !important;
				height: 100%;
				margin-top: 6px;
				width: 100%;
				position: relative;
				margin-top: 8px\9; /* IE6, IE7, IE8, IE9 */
			}

				.step-progress-bar li .step i:before {
					font-family: "legal-hold-icons" !important;
				}

			.step-progress-bar li .step span {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				font-size: 2.3em !important;
				margin-top: 7px;
			}

*::-ms-backdrop, .step-progress-bar li .step i
{ 
	margin-top: 8px;
} /* IE11 */
.ie10 .step-progress-bar li .step i
{ 
	margin-top: 8px; 
} /* Only works in IE10 */ 