<script id="step1" type="text/html">
	<div class="card">
		<span class="label">General</span>

	</div>

	<div class="card">
		<span class="label">Source Configuration</span>
	</div>

	<div class="card">
		<span class="label">Destination Configuration</span>
	</div>

	<div class="card">
		<span class="label">Import Scheduling</span>
	</div>


</script>
