<script id="step2" type="text/html">
	<div class="card">
		<span class="label">Field Mappings</span>
		<div class="clear"></div>
		<table class="full-width">
			<tbody class="basic-padding">

				<div class="list-box" id="workspaceFields">
					<span class="field-label">Workspace Fields</span>
					<select name="sometext" size="5">
						<option>text1</option>
						<option>text2</option>
						<option>text3</option>
						<option>text4</option>
						<option>text5</option>
					</select>
				</div>
				<div class="selection"></div>
				<div class="list-box">
					<select name="sometext" size="5">
						<option>text1</option>
						<option>text2</option>
						<option>text3</option>
						<option>text4</option>
						<option>text5</option>
					</select>
				</div>
				<div class="selection"></div>
				<div class="list-box">
					<select name="sometext" size="5">
						<option>text1</option>
						<option>text2</option>
						<option>text3</option>
						<option>text4</option>
						<option>text5</option>
					</select>
				</div>
				<div class="selection"></div>
				<div class="list-box">
					<div id="sourceAttributes">
						<span class="field-label">Source Attributes</span>
						<select name="sometext" size="5">
							<option>text1</option>
							<option>text2</option>
							<option>text3</option>
							<option>text4</option>
							<option>text5</option>
						</select>
					</div>
				</div>
			</tbody>
		</table>

	</div>
</script>
