<script id="step2" type="text/html">
	<div class="card">
		<span class="label">Field Mappings</span>
		<div class="clear"></div>

		<div class="table full-width">
			<div class="cell" >
				@*<p class="field-label">Workspace Fields</p>*@
				
				<p class="field-label">Workspace Fields</p>

				<select id="workspace-fields" class="list-box" name="sometext" size="5">
					<option>text1</option>
					<option>text2</option>
					<option>text3</option>
					<option>text4</option>
					<option>text5</option>
				</select>
			</div>
			<div class="cell">
				<div >
					<div id="add-all-workspace-fields" class="legal-hold icon-paging-last"></div>
					<div id="add-workspace-field" class="legal-hold icon-paging-next"></div>
					<div id="remove-workspace-field" class="legal-hold icon-paging-previous"></div>
					<div id="remove-all-workspace-fields" class="legal-hold icon-paging-first"></div>

				</div>
			</div>
			<div class="cell">
				<select class="list-box" name="sometext" size="5" id="selected-workspace-fields">
					<option>text1</option>
					<option>text2</option>
					<option>text3</option>
					<option>text4</option>
					<option>text5</option>
				</select>

			</div>
			<div class="cell">
				<div>

					<div id="workspace-field-up"class="legal-hold icon-chevron-up "></div>
					<div id="workspace-field-down" class="legal-hold icon-chevron-down"></div>

				</div>
			</div>
			<div class="cell">
				<select class="list-box" name="sometext" size="5" id="selected-source-fields">
					<option>text1</option>
					<option>text2</option>
					<option>text3</option>
					<option>text4</option>
					<option>text5</option>
				</select>

			</div>
			<div class="cell">
				<div >
					<div id="add-all-source-fields" class="legal-hold icon-paging-last"></div>
					<div id="add-source-field" class="legal-hold icon-paging-next"></div>
					<div id="remove-source-field" class="legal-hold icon-paging-previous"></div>
					<div id="remove-all-source-fields" class="legal-hold icon-paging-first"></div>

				</div>
			</div>

			<div class="cell">
				<div >
					<span class="field-label">Source Attributes</span>
					<select class="list-box" id="source-attributes" name="sometext" size="5">
						<option>text1</option>
						<option>text2</option>
						<option>text3</option>
						<option>text4</option>
						<option>text5</option>
					</select>
				</div>
			</div>

		</div>

	</div>
</script>
