@using kCura.IntegrationPoints.Web.Models
@using kCura.Method.Web.Controls.Extensions
@using kCura.Method.Web.Controls.Models.Controls
@using kCura.Method.Web.Controls.Models.Controls.Containers

<script id="step1" type="text/html">
	<div class="card">
		<span class="label">General</span>
		<div class="field-row">
			<div class="field-label required">
				Name:
			</div>
			<div class="field-value">
				<input type="text" maxlength="255" data-bind="value: name, disable: hasBeenRun" id="name" class="integrationName">
			</div>
		</div>
		<div class="field-row">
			<div class="field-label required">
				Type:
			</div>
			<div class="field-value">
				<ul id="isExportType" data-bind="foreach: integrationPointTypes">
					<li><input type="radio" data-bind="value: artifactID, checked: $parent.type, attr: {id: 'isExportTypeRadio' + artifactID}"/><label data-bind="text: displayName, attr:{for: 'isExportTypeRadio'+artifactID}"></label></li>
				</ul>
			</div>
		</div>
		<div class="field-row">
			<div data-bind="template: { name: source.templateID, data: source }"></div>
			<div data-bind="template: { name: destination.templateID, data: destination }"></div>
			<div data-bind="template: { name: profile.templateID, data: profile }"></div>
		</div>

	</div>

	<div class="card">
		<span class="label">Advanced</span>
		<div class="field-row">
			<div class="field-label">
				<div>Email Notification Recipients:</div>
				<div class="sub-message">Separate by semi-colon</div>
			</div>
			<div class="field-value">
				<textarea id="notificationEmails" data-bind="value: notificationEmails" cols="75" rows="5"></textarea>
			</div>
		</div>

		<div class="field-row">
			<div class="field-label">
				Log Errors:
			</div>
			<div class="field-value">
				<ul id="logErrors">
					<li><label><input id="enableLogErrorsRadioButton" value="true" name="logErrors" type="radio" data-bind="checked: logErrors" />Yes</label></li>
					<li><label><input id="disableLogErrorsRadioButton" value="false" name="logErrors" type="radio" data-bind="checked: logErrors" />No</label></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="card">
		<span class="label">Scheduling</span>
		<div data-bind="template: { name: scheduler.templateID, data: scheduler }"></div>
	</div>
</script>
<script type="text/html" id="ldapSourceConfig">
	<div class="field-row">
		<div class="field-label required">
			Source:
		</div>
		<div class="field-value">
			<select id="sourceProvider" data-bind="options: sourceTypes, optionsText: 'displayName', optionsValue: 'value', optionsCaption: 'Select...', value: selectedType, select2: {}, disable: isSourceProviderDisabled()"></select>
		</div>
	</div>
</script>
<script type="text/html" id="ldapDestinationConfig">
	<div class="field-row" data-bind="visible: destinationProviderVisible()">
		<div class="field-label required">
			Destination:
		</div>
		<div class="field-value">
			<select id="destinationProviderType" data-bind="options: destinationTypes, optionsText: 'displayName', optionsValue: 'artifactID', value: selectedDestinationType, optionsCaption: 'Select Destination...', select2: {}, disable: isDestinationProviderDisabled()"></select>
		</div>
	</div>
	<div class="field-row">
		<div class="field-label required">
			Transferred Object:
		</div>
		<div class="field-value">
			<select id="destinationRdo" data-bind="options: rdoTypes, optionsText: 'displayName', optionsValue: 'value', value: artifactTypeID, optionsCaption: 'Select...', select2: {}, disable: isDestinationObjectDisabled()"></select>
		</div>
	</div>	
</script>
<script type="text/html" id="profileConfig">
	<div class="field-row">
		<div class="field-label">
			Profile:
		</div>
		<div class="field-value">
			<select id="apply-profile-selector" data-bind="options: filterProfiles, optionsText: 'displayName', optionsValue: 'value', value: selectedProfile, optionsCaption: 'Select...', select2: {}"></select>
		</div>
	</div>
</script>
<script type="text/html" id="schedulingConfig">
	<div class="field-row">
		<div class="field-label">
			Enable Scheduler:
		</div>
		<div class="field-value" id="scheduleRulesEnabled">
			<ul>
				<li>
					<label><input id="enableSchedulerRadioButton" type="radio" name="enable" value="true" data-bind="checked: enableScheduler" />Yes</label>
				</li>
				<li>
					<label><input id="disableSchedulerRadioButton" type="radio" name="enable" value="false" data-bind="checked: enableScheduler" />No</label>
				</li>
			</ul>
		</div>
	</div>
	<div data-bind="visible: enableScheduler() === 'true' ">
		<div class="field-row">
			<div class="field-label required">
				Frequency:
			</div>
			<div class="field-value">
				<select id="frequency" data-bind="options: frequency, value: selectedFrequency, optionsCaption: 'Select...', select2: {}"></select>
			</div>
		</div>
		<div class="field-row" data-bind="visible: selectedFrequency() !== 'Daily' && (selectedFrequency() || '') !== ''">
			<div class="field-label required">
				Reoccur:
			</div>
			<div class="field-value">
				<label class="basic-padding">Every</label>
				<input id="reoccur" class="reoccur" data-bind="value: reoccur"/>
				<label class="basic-padding" data-bind="text: reoccurEvery"></label>
			</div>
		</div>
		<div class="field-row" data-bind="visible: showSendOn">
			<div class="field-label required">
				Send On:
			</div>
			<div id="sendOn" class="field-value" data-bind="template: { name: sendOn().templateID, data: sendOn }"></div>
		</div>
		<div class="field-row">
			<div class="field-label required">
				Start Date:
			</div>
			<div class="field-value">
				<input id="scheduleRulesStartDate" class="startDate" placeholder="mm/dd/yyyy" type="text" data-bind="datepicker: startDate, value: startDate"/>
			</div>
		</div>
		<div class="field-row">
			<div class="field-label">
				End Date:
			</div>
			<div class="field-value">
				<input id="scheduleRulesEndDate" class="endDate" placeholder="mm/dd/yyyy" type="text" data-bind="datepicker: endDate, value:endDate"/>
			</div>
		</div>
		<div class="field-row">
			<div class="field-label required">
				Scheduled Time:
			</div>
			<div class="field-value">
				<input id="scheduledTime" class="time" placeholder="hh:mm 12hr" data-bind="value: scheduledTime"/>

				<select id="timeMeridiem" data-bind="options: timeMeridiem, value: selectedTimeMeridiem, select2: {}"></select>
			</div>
		</div>
		<div class="field-row">
			<div class="field-label required">
				Time Zone:
			</div>
			<div class="field-value">
				<select id="timeZones" data-bind="options: timeZones, optionsText: 'DisplayName', optionsValue: 'Id', value: timeZoneId, optionsCaption: 'Select...', select2: {}"></select>
			</div>
		</div>
	</div>
</script>
<script type="text/html" id="weeklySendOn">
	<ul data-bind="foreach: days">
		<li>
			<input type="checkbox" data-bind="attr: { value: $data, name: $data, id: $data}, checked: $parent.selectedDays" />
			<label data-bind="text: $data, attr:{for: $data}"></label>
		</li>
	</ul>
	<div data-bind="validationMessage: selectedDays" class="icon-error legal-hold field-validation-error"></div>
</script>
<script type="text/html" id="monthlySendOn">
	<div class="field-value">
		<label class="basic-padding">Day</label>
			<select id="day-select" class="day-select" data-bind="options: days, optionsText: 'displayName', optionsValue: 'value', value: selectedDay, select2: {}"></select>
		<label class="basic-padding">of the month</label>
		<i data-bind="text: overflowMessage, visible: selectedDay() > 28"></i>
	</div>
		@* Disabled because of incorrect calculations for second day of month *@
		@*<ul>
				<li class="field-row">
				<input id="monthly" type="radio" name="monthly" value="2" data-bind="checked: monthChoice" />Day<select id="day-select" class="day-select" data-bind="options: days, optionsText: 'displayName', optionsValue: 'value', value: selectedDay, select2: {}"></select>
				of the month
				<i data-bind="text: overflowMessage, visible: selectedDay() > 28"></i>
			</li>
			<li class="field-row">
				<input id="days" type="radio" name="monthly" value="1" data-bind="checked: monthChoice" />The
				<select id="dayType" data-bind="options: dayTypes, optionsText: 'displayName', optionsValue: 'value', value: selectedType, select2: {}"></select>
				<select id="dayOfMonth" data-bind="options: daysOfMonthComputed, optionsText: 'displayName', optionsValue: 'value', value: selectedDayOfTheMonth, select2: {}"></select>
				of the month.
			</li>
			</ul>*@
	<div data-bind="validationMessage: monthChoice" class="icon-error legal-hold field-validation-error"></div>
</script>