<script id="step3" type="text/html">
    <div class="card" id="fieldMappings">
        <div>
            <span class="label title">Field Mappings</span>
            <span style="visibility: hidden;" id="forceRedraw"></span>
            <div data-bind="validationMessage: sourceMapped" class="icon-error legal-hold field-validation-error pull-left-col-2"></div>
            <div id="mapFields">
                <div class="mapButtonsContainer">
                    <button class="button generic positive map-field-btn" id="mapFieldsBtn" data-bind="click: autoFieldMap">Map All Fields</button>
                    <button class="button generic positive map-field-btn" id="mapFieldsFromSavedSearchBtn" data-bind="click: autoMapFieldsFromSavedSearch, visible: showMapSavedSearchButton">Map Saved Search</button>
                    <button class="button generic positive map-field-btn" id="mapFieldsFromViewBtn" data-bind="click: autoMapFieldsFromView, visible: IsNonDocumentObjectFlow()">Map View</button>
                </div>
                <div class="flex">
                    <div class="cell fixedColumn">
                        <div class="field-label" style="padding: 5px; text-align: left;"> Source Fields (<span data-bind="text: sourceField().length"></span>):</div>
                        <form action="" data-bind="submit: function() { return false; }">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Type to Filter Fields" style="min-width: 261px; width: 25%;" data-bind="value: filterSourceField, valueUpdate: 'afterkeydown'">
                            </div>
                        </form>
                        <select class="list-box" id="source-fields" multiple="multiple" style="height: 376px; margin-top: 4px;" data-bind="options: filterFields(sourceField, filterSourceField), selectedOptions: selectedSourceField, optionsText: 'displayName', doubleClick: addToMappedSource, optionsAfterRender: setTitle"></select>
                    </div>
                    <div class="cell selection map-move">
                        <a href="#" id="add-all-source-fields" class="icon-move-last" data-bind="click: addSourceToMapped"></a>
                        <a href="#" id="add-source-field" class="icon-move-next" data-bind="click: addToMappedSource"></a>
                        <a href="#" id="remove-source-field" class="icon-move-previous" data-bind="click: addToSourceField"></a>
                        <a href="#" id="remove-all-source-fields" class="icon-move-first" data-bind="click: addAlltoSourceField"></a>
                    </div>
                    <div class="cell fixedColumn">
                        <div class="field-label" style="padding: 5px; text-align: left;"> Selected Source Fields (<span data-bind="text: sourceMapped().length"></span>):</div>
                        <select class="list-box" id="selected-source-fields" multiple="multiple" data-bind="options: sourceMapped, selectedOptions: selectedMappedSource, optionsText: 'displayName', doubleClick: addToSourceField, optionsAfterRender: setTitle "></select>
                    </div>
                    <div class="cell mappingColumn">
                        <div class="moveMappedFieldsButtons">
                            <div class="cell selection map-move">
                                <a href="#" id="attributeFieldTop" class="icon-move-to-top" data-bind="click: moveMappedSourceTop"></a>
                                <a href="#" id="attribute-field-up" class="icon-move-up" data-bind="click: moveMappedSourceUp"></a>
                                <a href="#" id="attribute-field-down" class="icon-move-down" data-bind="click: moveMappedSourceDown"></a>
                                <a href="#" id="attributeFieldBottom" class="icon-move-to-bottom" data-bind="click: moveMappedSourceBottom"></a>
                            </div>
                            <div class="cell selection map-move">
                                <a href="#" id="workspaceFieldTop" class="icon-move-to-top" data-bind="click: moveMappedWorkspaceTop"></a>
                                <a href="#" id="workspace-field-up" class="icon-move-up" data-bind="click: moveMappedWorkspaceUp"></a>
                                <a href="#" id="workspace-field-down" class="icon-move-down" data-bind="click: moveMappedWorkspaceDown"></a>
                                <a href="#" id="workspaceFieldBottom" class="icon-move-to-bottom" data-bind="click: moveMappedWorkspaceBottom"></a>
                            </div>
                        </div>
                    </div>
                    <div class="cell fixedColumn">
                        <div class="field-label" style="padding: 5px; text-align: left;"> Selected Destination Fields (<span data-bind="text: mappedWorkspace().length"></span>):</div>
                        <select class="list-box" id="selected-workspace-fields" data-bind="options: mappedWorkspace, selectedOptions: selectedMappedWorkspace, optionsText: 'displayName', doubleClick: addToWorkspaceField, optionsAfterRender: setTitle" multiple="multiple"></select>
                    </div>
                    <div class="cell selection map-move">
                        <a href="#" id="add-all-workspace-fields" class="icon-move-first" data-bind="click: addAllWorkspaceFields"></a>
                        <a href="#" id="add-workspace-field" class="icon-move-previous" data-bind="click: addSelectFields"></a>
                        <a href="#" id="remove-workspace-field" class="icon-move-next" data-bind="click: addToWorkspaceField"></a>
                        <a href="#" id="remove-all-workspace-fields" class="icon-move-last" data-bind="click: addAlltoWorkspaceField"></a>
                    </div>
                    <div class="cell fixedColumn">
                        <div class="field-label" style="padding: 5px; text-align: left;"> Destination Fields (<span data-bind="text: workspaceFields().length"></span>):</div>
                        <form action="" data-bind="submit: function() { return false; }">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Type to Filter Fields" style="min-width: 261px; width: 25%;" data-bind="value: filterDestinationField, valueUpdate: 'afterkeydown'">
                            </div>
                        </form>
                        <select id="workspace-fields" class="list-box" name="workspace-field" style="height: 376px; margin-top: 4px;" data-bind="options: filterFields(workspaceFields, filterDestinationField), selectedOptions: workspaceFieldSelected, optionsText: 'displayName', doubleClick: addSelectFields, optionsAfterRender: setTitle" multiple="multiple"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <span class="label title">Settings</span>
        <img data-bind="visible: IsRelativityProvider(), click: openRelativityProviderSettingsTooltip" class="tooltip-img" id="contextualSettingsHelp" style="padding-left: 5px;" />
        <table style="width: 100%;">
            <tr>
                <td style="width: 48%; vertical-align: top">
                    <div class="identifier">
                        <div class="field-row">
                            <div class="field-label required">Overwrite:</div>
                            <div class="field-value">
                                <select id="overwrite" data-bind="options: OverwriteOptions, value: SelectedOverwrite, select2: {}"></select>
                                <div data-bind="visible: IsSmartOverwriteVisible()">
                                    <br />
                                    <label><input id="smart-overview-checkbox" type="checkbox" data-bind="checked: UseSmartOverwrite, enable: IsSmartOverwriteControlEnabled()"> Smart Overwrite</label>
                                    <div>
                                        <br />
                                        &emsp; NOTE: <br />
                                        &emsp; <strong>Overlay only</strong> sends documents that changed <br />
                                        &emsp; <strong>Append only</strong> sends newly added documents <br />
										&emsp; <strong>Append/Overlay</strong> sends new and changed documents since the last execution of this Integration Points
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field-row" data-bind="visible: SelectedOverwrite() != 'Append Only'">
                            <div class="field-label required">
                                Multi-Select Field<br />Overlay Behavior:
                            </div>
                            <div class="field-value">
                                <select id="overlay-field-behavior" data-bind="options: MultiSelectFieldOverlayBehaviors, value: FieldOverlayBehavior, select2: {}"></select>
                            </div>
                        </div>
                        <div class="field-row" id="copyImages" data-bind="visible: ImageImportVisible() && !IsNonDocumentObjectFlow()">
                            <div class="field-label required">Copy Images:</div>
                            <div class="field-value">
                                <ul>
                                    <li>
                                        <label><input id="exportImages-radio-0" type="radio" name="exportImages" value="true" data-bind="checked: ImageImport">Yes</label>
                                    </li>
                                    <li>
                                        <label><input id="exportImages-radio-1" type="radio" name="exportImages" value="false" data-bind="checked: ImageImport">No</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="field-row" data-bind="visible:ImageImportVisible()  == true && ImageImport() == 'true'  && IsProductionExport() == false">
                            <div class="field-label required">
                                Image Precedence:
                            </div>
                            <div class="field-value">
                                <select id="image-production-precedence" data-bind="options: ExportEnums.ProductionPrecedenceType, optionsText: 'key', optionsValue: 'value', value: ProductionPrecedence, select2: {}"></select>
                            </div>
                        </div>
                        <div class="field-row" data-bind="visible:ImageImportVisible()  == true && IsProductionPrecedenceSelected()  && ImageImport() == 'true' && IsProductionExport() == false">
                            <div class="field-label required">
                                Production Precedence:
                            </div>
                            <div class="field-value">
                                <label id="image-production-selection" class="precedence-selection" data-bind="style: { color: ImagePrecedence().length > 0 ? 'black' : 'darkblue' },text: ImagePrecedenceSelection"></label>
                                <button id="image-production-precedence-button" style="vertical-align: top" data-bind="click: openImageProductionPicker" class="actionButtonSmall">...</button>
                            </div>
                        </div>
                        <div class="field-row" data-bind="visible:ImageImportVisible()  == true && IsProductionPrecedenceSelected()  && ImageImport() == 'true'">
                            <div class="field-label">
                                Include Original Images<br />If Not Produced:
                            </div>
                            <div class="field-value" style="vertical-align: middle;">
                                <input id="image-include-original-images-checkbox" type="checkbox" data-bind="checked: IncludeOriginalImages" />
                            </div>
                        </div>
                        <div class="field-row" data-bind="visible: isDocument() == 'true' && ImportNativeFileCopyModeEnabled() == 'true' && IsNotImportFromCustomProviders()">
                            <div class="field-label required " data-bind="text: copyNativeLabel"></div>
                            <div class="field-value">
                                <ul>
                                    <li>
                                        <label><input id="native-file-mode-radio-0" type="radio" name="importCopyFilesMode" value="CopyFiles" data-bind="checked: importNativeFileCopyMode">Physical files</label>
                                    </li>
                                    <li>
                                        <label><input id="native-file-mode-radio-1" type="radio" name="importCopyFilesMode" value="SetFileLinks" data-bind="checked: importNativeFileCopyMode">Links Only</label>
                                    </li>
                                    <li>
                                        <label><input id="native-file-mode-radio-2" type="radio" name="importCopyFilesMode" value="DoNotImportNativeFiles" data-bind="checked: importNativeFileCopyMode">No</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="field-row" data-bind="visible: isDocument() == 'true' && ImportNativeFileCopyModeEnabled() == 'false' && IsNotImportFromCustomProviders()">
                            <div class="field-label required " data-bind="text: copyNativeLabel"></div>
                            <div class="field-value">
                                <ul>
                                    <li>
                                        <label><input id="native-file-radio-0" type="radio" name="import" value="true" data-bind="checked: importNativeFile">Yes</label>
                                    </li>
                                    <li>
                                        <label><input id="native-file-radio-1" type="radio" name="import" value="false" data-bind="checked: importNativeFile">No</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="field-row overlay-identifier" data-bind="visible: isDocument() == 'false' && SelectedOverwrite() == 'Overlay Only'">
                            <div class="field-label required">Unique Identifier:</div>
                            <div class="field-value ">
                                <select id="overlay-identifier" data-bind="options: overlay, value: selectedUniqueId, optionsValue: 'name', optionsText: 'name', select2: {}"></select>
                            </div>
                        </div>
                        <div class="field-row" data-bind="visible: hasParent() && !IsNonDocumentObjectFlow()">
                            <div class="field-label required ">Parent Attribute:</div>
                            <div class="field-value ">
                                <select id="parent-identifier" data-bind="options: parentField, value: selectedIdentifier, optionsValue: 'name', optionsText: 'name', optionsCaption: 'Select...' ,select2: {}"></select>
                            </div>
                        </div>
                        <div class="field-row" data-bind="visible: importNativeFile() == 'true' && AllowUserToMapNativeFileField() == true">
                            <div class="field-label required ">Native File Path:</div>
                            <div class="field-value ">
                                <select id="native-filePath" data-bind="options: nativeFilePathOption, value: nativeFilePathValue, optionsValue: 'displayName', optionsText: 'displayName', optionsCaption: 'Select...', select2: {}"></select>
                            </div>
                        </div>
                        <div class="field-row" data-bind="visible: showManager() && !IsNonDocumentObjectFlow()">
                            <div class="field-label required ">
                                Entity Manager<br />
                                Contains Link:
                            </div>
                            <div class="field-value">
                                <ul>
                                    <li>
                                        <label><input type="radio" name="enable" value="true" data-bind="checked: EntityManagerFieldContainsLink">Yes</label>
                                    </li>
                                    <li>
                                        <label><input type="radio" name="enable" value="false" data-bind="checked: EntityManagerFieldContainsLink">No</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="field-row" data-bind="visible: !IsRelativityProvider() && isDocument() == 'true' && ImageImport() == 'false' && IsNotImportFromCustomProviders()">
                            <div class="field-label required ">Use Folder Path Information:</div>
                            <div class="field-value">
                                <ul>
                                    <li>
                                        <label><input id="folder-path-radio-0" type="radio" name="import_createFolder" value="true" data-bind="checked: UseFolderPathInformation">Yes</label>
                                    </li>
                                    <li>
                                        <label><input id="folder-path-radio-1" type="radio" name="import_createFolder" value="false" data-bind="checked: UseFolderPathInformation">No</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="field-row" data-bind="visible: IsRelativityProvider() && isDocument() == 'true' && ImageImport() == 'false'">
                            <div class="field-label required ">Use Folder Path Information:</div>
                            <div class="field-value">
                                <select id="folderPathInformationSelect" data-bind="options: FolderPathOptions, value: SelectedFolderPathType, select2: {}"></select>
                            </div>
                        </div>
                        <div class="field-row" data-bind="visible: UseFolderPathInformation() == 'true' && ImageImport() == 'false'">
                            <div class="field-label required ">Folder Path Information:</div>
                            <div class="field-value ">
                                <div data-bind="if: IsRelativityProvider()">
                                    <select id="folderPath" data-bind="options: FolderPathFields, value: FolderPathSourceField, optionsText: 'actualName', optionsValue: 'fieldIdentifier', optionsCaption: 'Select...' ,select2: {}"></select>
                                </div>
                                <div data-bind="if: !IsRelativityProvider()">
                                    <select id="folderPath" data-bind="options: FolderPathImportProvider,  value: FolderPathSourceField,  optionsText: 'displayName',  optionsValue: 'fieldIdentifier', optionsCaption: 'Select...' ,select2: {}"></select>
                                </div>
                            </div>
                        </div>
                        <div class="field-row" data-bind="visible: isDocument() == 'true' && ImageImport() == 'false' && SelectedOverwrite() != 'Append Only' && (UseFolderPathInformation() == 'true' || UseDynamicFolderPath() == 'true')">
                            <div class="field-label required ">Move Existing Documents:</div>
                            <div class="field-value">
                                <ul>
                                    <li>
                                        <label><input id="move-documents-radio-0" type="radio" name="import_MoveDocumntsToFolder" value="true" data-bind="checked: MoveExistingDocuments">Yes</label>
                                    </li>
                                    <li>
                                        <label><input id="move-documents-radio-1" type="radio" name="import_MoveDocumntsToFolder" value="false" data-bind="checked: MoveExistingDocuments">No</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div data-bind="visible: !IsRelativityProvider() && isDocument() == 'true'">
                            <span class="extracted-label">Extracted Text</span>
                            <div class="margin-top-8px">
                                <div class="field-row">
                                    <div class="field-label required ">Cell Contains File Location:</div>
                                    <div class="field-value">
                                        <ul>
                                            <li>
                                                <label><input id="extracted-text-radio-0" type="radio" name="import_extractedTextLocation" value="true" data-bind="checked: ExtractedTextFieldContainsFilePath">Yes</label>
                                            </li>
                                            <li>
                                                <label><input id="extracted-text-radio-1" type="radio" name="import_extractedTextLocation" value="false" data-bind="checked: ExtractedTextFieldContainsFilePath">No</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div data-bind="visible: ExtractedTextFieldContainsFilePath() == 'true'">
                                    <div class="field-row">
                                        <div class="field-label required"></div>
                                        <div class="field-value ">
                                            <select id="" data-bind="options: MappedLongTextFields, value: LongTextColumnThatContainsPathToFullText, optionsText: 'displayName', optionsValue: 'displayName', optionsCaption: 'Select...' , select2: {}"></select>
                                        </div>
                                    </div>
                                    <div class="field-row">
                                        <div class="field-label required ">Encoding for undetectable files:</div>
                                        <div class="field-value ">
                                            <select id="encodings" data-bind="options: ExtractedTextFileEncodingList, value: ExtractedTextFileEncoding, optionsText: 'displayName', optionsValue: 'name', optionsCaption: 'Select...' ,select2: {}"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td style="width: 48%; vertical-align: top"></td>
            </tr>
        </table>
    </div>
</script>
<script src="~/node_modules/dompurify/dist/purify.min.js"></script>
