@using kCura.IntegrationPoints.Web.Models
@using kCura.Method.Web.Controls.Extensions
@using kCura.Method.Web.Controls.Models.Controls
@using kCura.Method.Web.Controls.Models.Controls.Containers

<script id="step1" type="text/html">
	<div class="card">
		<span class="label">General</span>
		<div class="field-row" id="nameControl" data-bind="template: { name: 'inputTemplate', data: name }"></div>

		<div class="field-row">
			<div class="field-label">
				<label for="overwrite">Overwrite:</label>
			</div>
			<div class="field-value">
				<select data-bind="options: overwrite, optionsText: 'displayName', optionsValue: 'value', value: selectedOverwrite, optionsCaption: 'Select...', select2: {}"></select>
			</div>
		</div>
	</div>

	<div class="card">
		<span class="label">Integration</span>
		<div data-bind="template: { name: source.templateID, data: source }"></div>
		<div data-bind="template: { name: destination.templateID, data: destination }"></div>
	</div>


	<div class="card">
		<span class="label">Import Scheduling</span>
		<div data-bind="template: { name: scheduler.templateID, data: scheduler }"></div>
	</div>
</script>

<script type="text/html" id="ldapSourceConfig">
	<div class="field-row">
		<div class="field-label">
			Source Provider:
		</div>
		<div class="field-value">
			<select data-bind="options: sourceTypes, optionsText: 'displayName', optionsValue: 'value', value: selectedType, optionsCaption: 'Select...', select2: {}"></select>
		</div>
	</div>
</script>

<script type="text/html" id="ldapDestinationConfig">
	<div class="field-row">
		<div class="field-label">
			Destination RDO:
		</div>
		<div class="field-value">
			<select data-bind="options: rdoTypes, optionsText: 'displayName', optionsValue: 'value', value: selectedRdo, optionsCaption: 'Select...', select2: {}"></select>
		</div>
	</div>
</script>

<script type="text/html" id="schedulingConfig">
	
	<div class="field-row input-control">
		<div class="field-label">
			Enabled:
		</div>
		<div class="field-value value" id="scheduleRulesEnabled">
			<ul>
				<li>
					<input type="radio" name="enable" value="true"/><span>Yes</span>
				</li>
				<li>
					<input type="radio" name="enable" value="false"/><span>No</span>
				</li>
			</ul>
		</div>
	</div>

	@Html.Dragon().RenderForm(new FormPanel<ScheduleModel>(string.Empty, string.Empty, new ScheduleModel
	{
		Frequency = new List<SelectListItem>
		{
			new SelectListItem{ Text = "Daily", Value = "1"},
			new SelectListItem{ Text = "Weekly", Value = "2"},
			new SelectListItem{ Text = "Monthly", Value = "3"},
		},
		Reoccur = new PrefixAndSuffixInputControl(string.Empty, string.Empty)
		{
			PrefixText = "Every",
			SuffixText = "",
			Value = 3
		}

	}))

</script>

<script type="text/html" id="inputTemplate">
	<div class="field-label required">
		<label for="ProjectName" data-bind="text: label"></label>
	</div>
	<div class="field-value">
		<input id="name" name="ProjectName" type="text" data-bind="value: value">
	</div>
</script>
