
@{
    ViewBag.Title = "Settings";
}

<link href="~/Content/site.css" rel="stylesheet" />
<div class="card">

    <label class="section label">My First Provider</label>
    <div class="field-row">
        <div class="field-label required">
            Workspace :
        </div>
        <div class="field-value ">
            <select id="workspace">
                <option value="90">Current Workspace</option>
            </select>
        </div>
    </div>
    <div class="field-row">
        <div class="field-label required">
            Saved Search : 
        </div>
        <div class="field-value ">
             <input type="text" name="field" id="savedSearch" class="input-box" placeholder="Please enter a saved search name" />
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/core/data.js"></script>
    <script src="~/Scripts/core/utils.js"></script>
    <script src="~/Scripts/knockout-2.2.0.js"></script>
    <script src="~/Scripts/knockout.validation.js"></script>
    <script src="~/Scripts/integration-point/binding.js"></script>
    <script src="~/Scripts/jquery-postMessage.js"></script>
    <script src="~/Scripts/frame-messaging.js"></script>
    <script src="~/Scripts/ldap/ldap-edit.js"></script>
    <script src="~/Scripts/documentTransfer-provider.js"></script>
}