@section header{
	<div class="header-actions-container">
		<button class="button secondary positive" id="cancel">Cancel</button>
		<i class="legal-hold icon-help"></i>
	</div>
	<h1>Create LDAP Integration Point</h1>
}

<div class="card ">
	<div class="table full-width">
		<div class="cell" id="stepProgress"></div>
		<div class="cell v-align h-align" id="progressButtons">
			<button class="button generic positive" id="back"><i class="icon-arrow-left"></i>Back</button>
			<button class="button generic positive" id="next">Next<i class="icon-arrow-right"></i></button>
		</div>
	</div>
</div>

<div id="pointBody" data-bind="template: { name: 'currentTmpl', data: currentStep }"></div>

<script id="currentTmpl" type="text/html">
	<div data-bind="template: { name: template(), data: model }"></div>
</script>

@section scripts
{
	<script src="~/Scripts/knockout-2.2.0.debug.js"></script>
	<script src="~/Scripts/knockout.validation.debug.js"></script>
	<script src="~/Scripts/core/data.js"></script>
	<script src="~/Scripts/core/utils.js"></script>
	<script src="~/Scripts/integration-point/select2-binding.js"></script>
	@Scripts.Render("~/bundles/ipEdit")
	<script src="~/Scripts/date.js"></script>
	@Scripts.Render("~/bundles/dragon")
}