
@{
    ViewBag.Title = "Settings";
}

<link href="~/Content/site.css" rel="stylesheet" />

<div class="card" id="exportProviderConfiguration">

    <label class="section label">Export Provider</label>
    <div class="field-row">
        <div class="field-label required">
            Saved Search :
        </div>
        <div class="field-value ">
            <select id="savedSearchSelector" data-bind="options: savedSearches, optionsText: 'displayName', optionsValue: 'value', value: SavedSearchArtifactId,  optionsCaption: 'Select...', select2: {}"></select>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/core/data.js"></script>
    <script src="~/Scripts/core/utils.js"></script>
    <script src="~/Scripts/knockout-2.2.0.js"></script>
    <script src="~/Scripts/knockout.validation.js"></script>
    <script src="~/Scripts/integration-point/binding.js"></script>
    <script src="~/Scripts/jquery-postMessage.js"></script>
    <script src="~/Scripts/frame-messaging.js"></script>
    <script src="~/Scripts/export/export-provider.js"></script>
}