
@{
    ViewBag.Title = "Settings";
}

<link href="~/Content/site.css" rel="stylesheet" />

<div id="exportProviderConfiguration">
    <div class="card">
        <span class="label title">Export Source</span>

        <div class="field-row" style="display: none">
            <div class="field-label required">
                Workspace :
            </div>
            <div class="field-value">
                <select id="workspaceSelector" data-bind="options: workspaces, optionsText: 'displayName', optionsValue: 'value', value: TargetWorkspaceArtifactId, select2: {}"></select>
            </div>
        </div>


        <div class="field-row">
            <div class="field-label required">
                Saved Search :
            </div>
            <div class="field-value ">
                <select id="savedSearchSelector" data-bind="options: savedSearches, optionsText: 'displayName', optionsCaption: 'Select...', value: SavedSearch"></select>
            </div>
        </div>
    </div>
    <div class="card">
        <span class="label title">Natives</span>
        <div class="identifier">
            <div class="field-row">
                <div class="field-label required ">Include Native Files Path:</div>
                <div class="field-value">
                    <ul>
                        <li>
                            <input id="include-native-files-path-radio-0" type="radio" name="includeNativeFilesPath" value="true" data-bind="checked: IncludeNativeFilesPath" />Yes
                        </li>
                        <li>
                            <input id="include-native-files-path-radio-1" type="radio" name="includeNativeFilesPath" value="false" data-bind="checked: IncludeNativeFilesPath" />No
                        </li>
                    </ul>
                </div>
            </div>
            <div class="field-row">
                <div class="field-label required">
                    Data File Format:
                </div>
                <div class="field-value ">
                    <select id="dataFileFormatSelector" data-bind="optionsText: 'key', optionsValue: 'value', options: dataFileFormats, optionsCaption: 'Select...', value: SelectedDataFileFormat"></select>
                </div>
            </div>
            <div class="field-row">
                <div class="field-label required">
                    Data File Encoding:
                </div>
                <div class="field-value">
                    <select id="dataFileEncodingSelector" data-bind="options: DataFileEncodingTypeList, value: DataFileEncodingType, optionsText: 'displayName', optionsValue: 'name', optionsCaption: 'Select...'"></select>
                </div>
            </div>
            <div>
                <div class="field-row">
                    <div class="field-label" data-bind="css: {required: isCustom()}">
                        Column:
                    </div>
                    <div class="field-value">
                        <select id="columnSeparatorSelector" data-bind="enable: isCustom(), optionsText: 'key', optionsValue: 'value', options: separatorsList, optionsCaption: 'Select...', attr: {'disabled': isCustomDisabled()}, value: ColumnSeparator"></select>
                    </div>
                </div>
                <div class="field-row">
                    <div class="field-label" data-bind="css: {required: isCustom()}">
                        Quote:
                    </div>
                    <div class="field-value">
                        <select id="quoteSeparatorSelector" data-bind="enable: isCustom(), optionsText: 'key', optionsValue: 'value', options: separatorsList, optionsCaption: 'Select...', attr: {'disabled': isCustomDisabled()}, value: QuoteSeparator"></select>
                    </div>
                </div>
                <div class="field-row">
                    <div class="field-label" data-bind="css: {required: isCustom()}">
                        Newline:
                    </div>
                    <div class="field-value">
                        <select id="newlineSeparatorSelector" data-bind="enable: isCustom(), optionsText: 'key', optionsValue: 'value', options: separatorsList, optionsCaption: 'Select...', attr: {'disabled': isCustomDisabled()}, value: NewlineSeparator"></select>
                    </div>
                </div>
                <div class="field-row">
                    <div class="field-label" data-bind="css: {required: isCustom()}">
                        Multi-Value:
                    </div>
                    <div class="field-value">
                        <select id="multivalueSeparatorSelector" data-bind="enable: isCustom(), optionsText: 'key', optionsValue: 'value', options: separatorsList, optionsCaption: 'Select...', attr: {'disabled': isCustomDisabled()}, value: MultiValueSeparator"></select>
                    </div>
                </div>
                <div class="field-row">
                    <div class="field-label" data-bind="css: {required: isCustom()}">
                        Nested Value:
                    </div>
                    <div class="field-value">
                        <select id="nestedvalueSeparatorSelector" data-bind="enable: isCustom(), optionsText: 'key', optionsValue: 'value', options: separatorsList, optionsCaption: 'Select...', attr: {'disabled': isCustomDisabled()}, value: NestedValueSeparator"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <span class="label title">Physical File Export</span>
        <div class="identifier">
            <div class="field-row">
                <div class="field-label required ">Copy Files from Repository:</div>
                <div class="field-value">
                    <ul>
                        <li>
                            <input id="copy-file-radio-0" type="radio" name="copyFiles" value="true" data-bind="checked: CopyFileFromRepository" />Yes
                        </li>
                        <li>
                            <input id="copy-file-radio-1" type="radio" name="copyFiles" value="false" data-bind="checked: CopyFileFromRepository" />No
                        </li>
                    </ul>
                </div>
            </div>
            <div class="field-row">
                <div class="field-label required">
                    Fileshare:
                </div>
                <div class="field-value">
                    <input id="fileshare-input" data-bind="value: Fileshare" />
                </div>
            </div>
            <div class="field-row">
                <div class="field-label required ">Overwrite files:</div>
                <div class="field-value">
                    <ul>
                        <li>
                            <input id="overwrite-file-radio-0" type="radio" name="OverwriteFiles" value="true" data-bind="checked: OverwriteFiles" />Yes
                        </li>
                        <li>
                            <input id="overwrite-file-radio-1" type="radio" name="OverwriteFiles" value="false" data-bind="checked: OverwriteFiles" />No
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <span class="label title">Images</span>
        <div class="identifier">
            <div class="field-row">
                <div class="field-label required ">Export Images:</div>
                <div class="field-value">
                    <ul>
                        <li>
                            <input id="export-images-radio-0" type="radio" name="exportImages" value="true" data-bind="checked: ExportImagesChecked" />Yes
                        </li>
                        <li>
                            <input id="export-images-radio-1" type="radio" name="exportImages" value="false" data-bind="checked: ExportImagesChecked" />No
                        </li>
                    </ul>
                </div>
            </div>
            <div class="field-row" data-bind="visible: ExportImagesChecked() === 'true'">
                <div class="field-label required">
                    File Type :
                </div>
                <div class="field-value ">
                    <select id="imageFileTypesSelector" data-bind="options: imageFileTypes, optionsText: 'value', optionsValue: 'key', optionsCaption: 'Select...', value: SelectedImageFileType"></select>
                </div>
            </div>

        </div>
    </div>


    @section scripts
{
        <script src="~/Scripts/core/data.js"></script>
        <script src="~/Scripts/core/utils.js"></script>
        <script src="~/Scripts/knockout-2.2.0.js"></script>
        <script src="~/Scripts/knockout.validation.js"></script>
        <script src="~/Scripts/integration-point/binding.js"></script>
        <script src="~/Scripts/jquery-postMessage.js"></script>
        <script src="~/Scripts/frame-messaging.js"></script>
        <script src="~/Scripts/export/export-provider.js"></script>
    }
