
@{
    ViewBag.Title = "Settings";
}

<link href="~/Content/site.css" rel="stylesheet" />

<div id="exportProviderConfiguration">
    <div class="card">
        <span class="label title">Export Source</span>

        <div class="field-row" style="display: none">
            <div class="field-label required">
                Workspace :
            </div>
            <div class="field-value">
                <select id="workspaceSelector" data-bind="options: workspaces, optionsText: 'displayName', optionsValue: 'value', value: TargetWorkspaceArtifactId, select2: {}"></select>
            </div>
        </div>


        <div class="field-row">
            <div class="field-label required">
                Saved Search :
            </div>
            <div class="field-value ">
                <select id="savedSearchSelector" data-bind="options: savedSearches, optionsText: 'displayName', optionsCaption: 'Select...', value: SavedSearch"></select>
            </div>
        </div>
    </div>
    <div class="card">
        <span class="label title">Physical File Export</span>
        <div class="identifier">
            <div class="field-row">
                <div class="field-label required ">Copy Files from Repository:</div>
                <div class="field-value">
                    <ul>
                        <li>
                            <input id="copy-file-radio-0" type="radio" name="copyFiles" value="true" data-bind="checked: CopyFileFromRepository" />Yes
                        </li>
                        <li>
                            <input id="copy-file-radio-1" type="radio" name="copyFiles" value="false" data-bind="checked: CopyFileFromRepository" />No
                        </li>
                    </ul>
                </div>
            </div>
            <div class="field-row">
                <div class="field-label required">
                    Fileshare:
                </div>
                <div class="field-value">
                    <input data-bind="value: selectedDestinationPath" />
                </div>
            </div>
            <div class="field-row">
                <div class="field-label required ">Overwrite files:</div>
                <div class="field-value">
                    <ul>
                        <li>
                            <input id="overwrite-file-radio-0" type="radio" name="OverwriteFiles" value="true" data-bind="checked: OverwriteFiles" />Yes
                        </li>
                        <li>
                            <input id="overwrite-file-radio-1" type="radio" name="OverwriteFiles" value="false" data-bind="checked: OverwriteFiles" />No
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>


@section scripts
{
    <script src="~/Scripts/core/data.js"></script>
    <script src="~/Scripts/core/utils.js"></script>
    <script src="~/Scripts/knockout-2.2.0.js"></script>
    <script src="~/Scripts/knockout.validation.js"></script>
    <script src="~/Scripts/integration-point/binding.js"></script>
    <script src="~/Scripts/jquery-postMessage.js"></script>
    <script src="~/Scripts/frame-messaging.js"></script>
    <script src="~/Scripts/export/export-provider.js"></script>
}