﻿
@{
	ViewBag.Title = "Settings";
}
<link href="~/Content/styles.min.css" rel="stylesheet" />
<link href="~/Content/site.css" rel="stylesheet" />
<link href="~/Content/buttermilk.9_2.min.css" rel="stylesheet" />
<link href="~/Content/css/select2search.css" rel="stylesheet" />
<div id="_main">
	<div id="exportProviderConfiguration" class="cardContainer">
		<div class="cardSection">
			<h2>Export Source</h2>
			<table class="fieldTable">
				<tr style="display: none">
					<td class="editFieldNameRequired">
						Workspace :
					</td>
					<td class="editFieldValue">
						<select id="workspaceSelector" data-bind="options: workspaces, optionsText: 'displayName', optionsValue: 'value', value: TargetWorkspaceArtifactId, select2: {}"></select>
					</td>
				</tr>
				<tr>
					<td class="editFieldNameRequired">
						Saved Search :
					</td>
					<td class="editFieldValue">
						<select id="savedSearchSelector" data-bind="options: savedSearches, optionsText: 'displayName', optionsCaption: 'Select...', value: SavedSearch, disable: HasBeenRun()"></select> <!-- ,select2: {} -->
						@*
							<button data-bind="click: openSavedSearchPicker, disable: HasBeenRun(), visible: false" class="actionButtonSmall">...</button>
						*@ @*TODO: review and fix picker's implementation*@
					</td>
				</tr>
				<tr>
					<td class="editFieldNameRequired">
						Start #:
					</td>
					<td class="editFieldValue">
						<input id="start-export-at-record" type="number" min="1" data-bind="value: StartExportAtRecord, disable: HasBeenRun()" />
					</td>
				</tr>
			</table>
		</div>
		<div class="cardSection">
			<h2>Export Detail</h2>
			<table>
				<tr>
					<td class="cardColumn cardFieldLeft">
						<table class="fieldTable">
							<tr>
								<td class="editFieldNameRequired">
									Export Type:
								</td>
								<td>
									<table>
										<tr>
											<td class="editFieldValue">
												<input id="export-loadfile-checkbox" type="checkbox" disabled="true" checked="true" />
												<label disabled="true">Load File</label>
											</td>
										</tr>
										<tr>
											<td class="editFieldValue">
												<input id="export-images-checkbox" type="checkbox" data-bind="disable: HasBeenRun(), checked: ExportImagesChecked" />
												<label>Images</label>
											</td>
										</tr>
										<tr>
											<td class="editFieldValue">
												<input id="export-natives-checkbox" type="checkbox" data-bind="disable: HasBeenRun(), checked: CopyFileFromRepository" />
												<label>Natives</label>
											</td>
										</tr>
										<tr>
											<td class="editFieldValue">
												<input id="export-text-fields-as-files-checkbox" type="checkbox" data-bind="disable: HasBeenRun(), checked: ExportTextFieldsAsFilesChecked" />
												<label>Text Fields As Files</label>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td class="editFieldNameRequired">
									Export location:
								</td>
								<td class="editFieldValue">
									<input id="fileshare-input" type="text" data-bind="value: Fileshare, disable: HasBeenRun()" />
								</td>
							</tr>
						</table>
					</td>
					<td class="cardColumn">
						<table class="fieldTable">
							<tr>
								<td class="editFieldName">Overwrite files:</td>
								<td class="editFieldValue">
									<input id="overwrite-file-checkbox" type="checkbox" data-bind="disable: HasBeenRun(), checked: OverwriteFiles" />
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
		<div class="cardSection" data-bind="visible: CopyFileFromRepository() || ExportImagesChecked() || ExportTextFieldsAsFilesChecked()">
			<h2>Volume & Subdirectory Detail</h2>
			<table>
				<tr>
					<td class="cardColumn cardFieldLeft">
						<div>
							<p>
								<h3 style="margin-left: 30px">
									VOLUME
								</h3>
							</p>
						</div>
						<table title="Volume" class="fieldTable">
							<tr>
								<td class="editFieldNameRequired">
									Prefix:
								</td>
								<td class="editFieldValue">
									<input id="volume-prefix-input" type="text" data-bind="value: VolumePrefix, disable: HasBeenRun()" />
								</td>
							</tr>
							<tr>
								<td class="editFieldNameRequired">
									Start Number:
								</td>
								<td class="editFieldValue">
									<input id="volume-start-files-input" type="number" min="1" data-bind="value: VolumeStartNumber, disable: HasBeenRun()" />
								</td>
							</tr>
							<tr>
								<td class="editFieldNameRequired">
									Number of digits:
								</td>
								<td class="editFieldValue">
									<input id="volume-digit-padding-input" type="number" min="1" data-bind="value: VolumeDigitPadding, disable: HasBeenRun()" />
								</td>
							</tr>
							<tr>
								<td class="editFieldNameRequired">
									Max Size (MB):
								</td>
								<td class="editFieldValue">
									<input id="volume-max-size-input" type="number" min="1" data-bind="value: VolumeMaxSize, disable: HasBeenRun()" />
								</td>
							</tr>
						</table>
					</td>
					<td class="cardColumn">
						<table title="Subdirectory" class="fieldTable">
							<tr>
								<td>
									<div>
										<p>
											<h3 style="margin-left: 30px">
												SUBDIRECTORY
											</h3>
										</p>
									</div>
								</td>
							</tr>
							<tr>
								<td class="editFieldNameRequired">
									Start Number:
								</td>
								<td class="editFieldValue">
									<input id="subdirectory-start-files-input" type="number" min="1" data-bind="value: SubdirectoryStartNumber, disable: HasBeenRun()" />
								</td>
							</tr>
							<tr>
								<td class="editFieldNameRequired">
									Number of digits:
								</td>
								<td class="editFieldValue">
									<input id="subdirectory-digit-padding-input" type="number" min="1" data-bind="value: SubdirectoryDigitPadding, disable: HasBeenRun()" />
								</td>
							</tr>
							<tr>
								<td class="editFieldNameRequired">
									Max Files:
								</td>
								<td class="editFieldValue">
									<input id="subdirectory-max-files-input" type="number" min="1" data-bind="value: SubdirectoryMaxFiles, disable: HasBeenRun()" />
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
		<div class="cardSection">
			<h2>File Breakdown</h2>
			<table>
				<tr>
					<td class="cardColumn cardFieldLeft">
						<table class="fieldTable">
							<tr>
								<td class="editFieldName">File Path:</td>
								<td class="editFieldValue">
									<table class="RadioButtonListRelativePosition">
										<tbody data-bind="foreach: ExportEnums.FilePathType">
											<tr>
												<td>
													<input type="radio" name="filePath" data-bind="checked: $root.FilePath, checkedValue: $data.value, attr: {id: 'filePath_' + $index() }" />
													<label data-bind="text: key, attr: {id: 'filePathLabel_' + $index() }"></label>
													<!-- ko if: value==2 -->
													<input type="text" data-bind="enable: $root.isUserPrefix(), value: $root.UserPrefix,attr: {id: 'filePathUserprefix_' + $index() }" />
													<!-- /ko -->
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td class="editFieldNameRequired">
									Data File Format:
								</td>
								<td class="editFieldValue">
									<select id="dataFileFormatSelector" data-bind="optionsText: 'key', optionsValue: 'value', options: ExportEnums.DataFileFormats, optionsCaption: 'Select...', value: SelectedDataFileFormat, disable: HasBeenRun()"></select>
								</td>
							</tr>
							<tr>
								<td class="editFieldName" data-bind="visible: isCustom">
									Column:
								</td>
								<td class="editFieldValue" data-bind="visible: isCustom">
									<select id="columnSeparatorSelector" data-bind="enable: isCustom() && !HasBeenRun(), optionsText: 'key', optionsValue: 'value', options: separatorsList, optionsCaption: 'Select...', attr: {'disabled': isCustomDisabled()}, value: ColumnSeparator"></select>
								</td>
							</tr>
							<tr data-bind="visible: isCustom">
								<td class="editFieldName">
									Quote:
								</td>
								<td class="editFieldValue">
									<select id="quoteSeparatorSelector" data-bind="enable: isCustom() && !HasBeenRun(), optionsText: 'key', optionsValue: 'value', options: separatorsList, optionsCaption: 'Select...', attr: {'disabled': isCustomDisabled()}, value: QuoteSeparator"></select>
								</td>
							</tr>
							<tr data-bind="visible: isCustom()">
								<td class="editFieldName">
									Newline:
								</td>
								<td class="editFieldValue">
									<select id="newlineSeparatorSelector" data-bind="enable: isCustom() && !HasBeenRun(), optionsText: 'key', optionsValue: 'value', options: separatorsList, optionsCaption: 'Select...', attr: {'disabled': isCustomDisabled()}, value: NewlineSeparator"></select>
								</td>
							</tr>

							<tr data-bind="visible: isCustom()">
								<td class="editFieldName">
									Multi-Value:
								</td>
								<td class="editFieldValue">
									<select id="multivalueSeparatorSelector" data-bind="enable: isCustom() && !HasBeenRun(), optionsText: 'key', optionsValue: 'value', options: separatorsList, optionsCaption: 'Select...', attr: {'disabled': isCustomDisabled()}, value: MultiValueSeparator"></select>
								</td>
							</tr>
							<tr data-bind="visible: isCustom()">
								<td class="editFieldName">
									Nested Value:
								</td>
								<td class="editFieldValue">
									<select id="nestedvalueSeparatorSelector" data-bind="enable: isCustom() && !HasBeenRun(), optionsText: 'key', optionsValue: 'value', options: separatorsList, optionsCaption: 'Select...', attr: {'disabled': isCustomDisabled()}, value: NestedValueSeparator"></select>
								</td>
							</tr>
							<tr>
								<td class="editFieldNameRequired">
									Data File Encoding:
								</td>
								<td class="editFieldValue">
									<select id="dataFileEncodingSelector" data-bind="foreach: DataFileEncodingTypeList, value: DataFileEncodingType, optionsText: 'displayName', optionsValue: 'name', optionsCaption: 'Select...', disable: HasBeenRun(), select2searchable: {}">
										<optgroup data-bind="attr: {label: label}, foreach: children">
											<option data-bind="text: displayName, value: name"></option>
										</optgroup>
									</select>
								</td>
							</tr>
							<tr>
								<td class="editFieldName">
									Export Multiple Choice Fields As Nested:
								</td>
								<td class="editFieldValue">
									<input id="export-multiple-choice-fields-as-nested" type="checkbox" data-bind="disable: HasBeenRun(), checked: ExportMultipleChoiceFieldsAsNested" />
								</td>
							</tr>
							<tr data-bind="visible: false">
								<td class="editFieldNameRequired">
									Text Precedence:
								</td>
								<td class="editFieldValue">
									<label id="text-precedence-selection" data-bind="text: TextPrecedenceSelection"></label>
									<button data-bind="click: openTextPrecedencePicker, disable: HasBeenRun()" class="actionButtonSmall">...</button>
								</td>
							</tr>
						</table>
					</td>
					<td class="cardColumn">
						<table class="fieldTable" data-bind="visible: ExportImagesChecked">
							<tr>
								<td>
									<div>
										<p>
											<h3 style="margin-left: 30px">
												IMAGE
											</h3>
										</p>
									</div>
								</td>
							</tr>
							<tr>
								@*data-bind="visible: ExportImagesChecked"*@
								<td class="editFieldNameRequired">
									Data File Format:
								</td>
								<td class="editFieldValue">
									<select id="imageDataFileFormatSelector" data-bind="options: ExportEnums.ImageDataFileFormats, optionsText: 'key', optionsValue: 'value', optionsCaption: 'Select...', value: SelectedImageDataFileFormat, disable: HasBeenRun()"></select>
								</td>
							</tr>
							<tr>
								@*data-bind="visible: ExportImagesChecked"*@
								<td class="editFieldNameRequired">
									File Type :
								</td>
								<td class="editFieldValue">
									<select id="imageFileTypesSelector" data-bind="enable: CopyFileFromRepository && !HasBeenRun(), options: ExportEnums.ImageFileTypes, optionsText: 'key', optionsValue: 'value', optionsCaption: 'Select...', value: SelectedImageFileType"></select>
								</td>
							</tr>
							<tr>
								<td class="editFieldNameRequired">
									Subdirectory Prefix For Image:
								</td>
								<td class="editFieldValue">
									<input id="subdirectory-image-prefix-input" type="text" data-bind="value: SubdirectoryImagePrefix, disable: HasBeenRun()" />
									<span style="padding: 2px">001</span>
								</td>
							</tr>
						</table>
						<table class="fieldTable" data-bind="visible: CopyFileFromRepository">
							<tr>
								<td>
									<div>
										<p>
											<h3 style="margin-left: 30px">
												NATIVE
											</h3>
										</p>
									</div>
								</td>
							</tr>
							<tr>

								<td class="editFieldName">
									Include Native Files Path:
								</td>
								<td class="editFieldValue">
									<input id="include-native-files-path-checkbox" type="checkbox" data-bind="disable: HasBeenRun(), checked: IncludeNativeFilesPath" />
								</td>
							</tr>
							<tr>
								<td class="editFieldNameRequired">
									Subdirectory prefix for Native:
								</td>
								<td class="editFieldValue">
									<input id="subdirectory-native-prefix-input" type="text" data-bind="value: SubdirectoryNativePrefix, disable: HasBeenRun()" />
									<span style="padding: 2px">001</span>
								</td>
							</tr>
						</table>
						<table class="fieldTable" data-bind="visible: ExportTextFieldsAsFilesChecked">
							<tr>
								<td>
									<div>
										<p>
											<h3 style="margin-left: 30px">
												TEXT
											</h3>
										</p>
									</div>
								</td>
							</tr>
							<tr>
								<td class="editFieldNameRequired">
									Subdirectory prefix for Text:
								</td>
								<td class="editFieldValue">
									<input id="subdirectory-text-prefix-input" type="text" data-bind="value: SubdirectoryTextPrefix, disable: HasBeenRun()" />
									<span style="padding: 2px">001</span>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>

	</div>
</div>
@section scripts
{
	<script src="~/Scripts/core/data.js"></script>
	<script src="~/Scripts/core/utils.js"></script>
	<script src="~/Scripts/knockout-3.4.0.js"></script>
	<script src="~/Scripts/knockout.validation.js"></script>
	<script src="~/Scripts/integration-point/binding.js"></script>
	<script src="~/Scripts/jquery-postMessage.js"></script>
	<script src="~/Scripts/frame-messaging.js"></script>
	<script src="~/Scripts/export/export-enums.js"></script>
	<script src="~/Scripts/export/export-provider.js"></script>
	<script src="~/Scripts/export/picker.js"></script>
	<script src="~/Scripts/export/saved-search-picker.js"></script>
	<script src="~/Scripts/export/text-precedence-picker.js"></script>
}