@using kCura.IntegrationPoints.Web.Extensions
@model kCura.IntegrationPoints.Web.Models.EditPoint


<div class="card smaller-card clear-fix" id="notEnoughPermission">
	<h3>You do not have permission to import. Please contact your administrator for the correct permissions.</h3>
	<button class="button secondary positive float-right" id="cancel">Cancel</button>
</div>

@section scripts{
	<script src="~/Scripts/route.js"></script>
	<script src="~/Scripts/core/utils.js"></script>
	<script>
		$("#cancel").on("click", function () {

			var getBasePath = IP.utils.getBasePath();
			var route = IP.redirect.get();
			if (!IP.redirect.isEdit()) {
				route = document.URL.split('CustomPages')[0] + "@Html.Raw(@Model.URL)";
		}
		window.top.location = route;
	});</script>
}

