<div class="modal-header">
    <div class="modal-title">Save as Profile</div>
</div>

<div class="card">
	<div class="field-row">
		<div class="field-label required">Profile Name:</div>
		<div class="field-value">
			<input id="profile-name" type="text" data-bind="value: profileName, valueUpdate: 'keyup'" />
		</div>
	</div>
</div>
<div class="modal-footer">
	<button id="save-as-profile-confirm-button" class="ActionButton" data-bind="click: ok">Save as Profile</button>
	<button id="save-as-profile-cancel-button" class="ActionButton" data-bind="click: cancel">Cancel</button>
</div>
