<link href="~/Content/buttermilk-overrides.css" rel="stylesheet" />
<table id="schedulerSummaryPage" class="innerTabTable">
	<tr>
		<td>
			<table>
				<tr>
					<td class="editTableColumn">
						<table>
							<tr>
								<td class="dynamicViewFieldName">Enable Scheduler:</td>
								<td class="dynamicViewFieldValue" data-bind="text: enableScheduler ? 'True' : 'False'"></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr data-bind="visible: enableScheduler">
					<td class="editTableColumn">
						<table>
							<tr>
								<td class="dynamicViewFieldName">Frequency:</td>
								<td class="dynamicViewFieldValue" data-bind="text: frequency"></td>
							</tr>
							<tr>
								<td class="dynamicViewFieldName">Reoccur:</td>
								<td class="dynamicViewFieldValue" data-bind="text: reoccur"></td>
							</tr>
							<tr>
								<td class="dynamicViewFieldName">Send On:</td>
								<td class="dynamicViewFieldValue" data-bind="html: sendOn"></td>
							</tr>
							<tr>
								<td class="dynamicViewFieldName">Start Date:</td>
								<td class="dynamicViewFieldValue" data-bind="text: startDate"></td>
							</tr>
							<tr>
								<td class="dynamicViewFieldName">End Date:</td>
								<td class="dynamicViewFieldValue breakWord" data-bind="text: endDate"></td>
							</tr>
							<tr>
								<td class="dynamicViewFieldName">Scheduled Time:</td>
								<td class="dynamicViewFieldValue" data-bind="text: scheduledTime"></td>
							</tr>

						</table>
					</td>

				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<td class="editTableColumn">
						<table>
							<tr>
								<td class="dynamicViewFieldName">Next Scheduled Runtime <br />(Local):</td>
								<td class="dynamicViewFieldValue" data-bind="text: nextRun"></td>
							</tr>
							<tr>
								<td class="dynamicViewFieldName">Last Runtime (Local)</td>
								<td class="dynamicViewFieldValue" data-bind="text: lastRun"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<script src="~/Scripts/integration-point/time-utils.js"></script>
<script src="~/Scripts/integration-point/scheduler-summary-page.js"></script>