@{
	ViewBag.Title = "Test";
}

<h2>Test</h2>

<div class="card">
	<label class="section label">Mapped Fields</label>
	<table id="mappedFields"></table>
</div>

@section Scripts{
	<script src="~/Scripts/i18n/grid.locale-en.js"></script>
	<script src="~/Scripts/jquery.jqGrid.src.js"></script>
	<script src="~/Scripts/grid/dragon-grid.js"></script>
	<script src="~/Scripts/grid/dragon-utils.js"></script>
	<script src="~/Scripts/integration-point/details.js"></script>
}
