<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="RelativityHostName" value="p-dv-vm-pste.kcura.corp" />
    <add key="RelativityUserName" value="relativity.admin@kcura.com" />
    <add key="RelativityUserPassword" value="Test1234!" />
    <add key="RelativityServicesUrl" value="/Relativity.Services" />
    <add key="RelativityRestUrl" value="/Relativity.Rest/api" />
    <add key="SuppressCertificateCheck" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <Paket>True</Paket>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="4.9.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>