@{
	ViewBag.Title = "Settings";
}
<link href="~/Content/buttermilk-overrides.css" rel="stylesheet" />

<table id="summaryPage" class="innerTabTable">
	<tr>
		<td>
			<table>
				<tr>
					<td class="editTableColumn">
						<table>
							<tr>
								<td class="dynamicViewFieldName">Name:</td>
								<td class="dynamicViewFieldValue" data-bind="text: name"></td>
							</tr>
							<tr>
								<td class="dynamicViewFieldName">Overwrite:</td>
								<td class="dynamicViewFieldValue" data-bind="text: overwriteMode"></td>
							</tr>
							<tr>
								<td class="dynamicViewFieldName">SourceProvider:</td>
								<td class="dynamicViewFieldValue breakWord" data-bind="text: sourceProviderName"></td>
							</tr>
							<tr>
								<td class="dynamicViewFieldName">Connection Path:</td>
								<td class="dynamicViewFieldValue" data-bind="text: connectionPath"></td>
							</tr>
							<tr>
								<td class="dynamicViewFieldName">Object Filter String:</td>
								<td class="dynamicViewFieldValue" data-bind="text: objectFilterString"></td>
							</tr>
							<tr>
								<td class="dynamicViewFieldName">Authentication:</td>
								<td class="dynamicViewFieldValue" data-bind="text: authenticationMode"></td>
							</tr>
							<tr>
								<td class="dynamicViewFieldName">Username:</td>
								<td class="dynamicViewFieldValue" data-bind="text: userName"></td>
							</tr>
							<tr>
								<td class="dynamicViewFieldName">Password:</td>
								<td class="dynamicViewFieldValue" data-bind="text: password"></td>
							</tr>
							<tr>
								<td class="dynamicViewFieldName">Import Nested Items:</td>
								<td class="dynamicViewFieldValue" data-bind="text: importNestedItems"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<td class="editTableColumn">
						<table>
							<tr>
								<td class="dynamicViewFieldName">Log Errors:</td>
								<td class="dynamicViewFieldValue" data-bind="text: logErrors"></td>
							</tr>
							<tr>
								<td class="dynamicViewFieldName">Has Errors:</td>
								<td class="dynamicViewFieldValue" data-bind="text: hasErrors"></td>
							</tr>
							<tr>
								<td class="dynamicViewFieldName">Email Notification Recipients:</td>
								<td class="dynamicViewFieldValue" data-bind="text: emailNotification"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<script src="~/Scripts/ldap/ldap-provider-summary-page.js"></script>