type project
id Relativity.Sync
title Relativity Sync
authors Relativity
description Relativity Sync
owners Relativity
projectUrl https://platform.relativity.com
licenseUrl https://www.relativity.com/nugetLicense.txt
releaseNotes https://platform.relativity.com
iconUrl https://www.relativity.com/images/relativity-nuget-logo.png
copyright Relativity
requireLicenseAcceptance true
tags RelativitySync Relativity.Sync Sync