/*@charset "UTF-8";*/

@font-face {
	font-family: "legal-hold-icons";
	/*src: url("fonts/legal-hold-icons.eot");*/
	src: url("fonts/legal-hold-icons.eot?#iefix") format("embedded-opentype"), url("fonts/legal-hold-icons.woff") format("woff"), url("fonts/legal-hold-icons.ttf") format("truetype"), url("fonts/legal-hold-icons.svg#legal-hold-icons") format("svg");
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: "legal-hold-icons" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "legal-hold-icons" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-remove:before {
	content: "a";
}
.icon-error:before {
	content: "b";
}
.icon-alert:before {
	content: "c";
}
.icon-find:before {
	content: "d";
}
.icon-left-arrow:before {
	content: "e";
}
.icon-outgoing:before {
	content: "f";
}
.icon-edit:before {
	content: "g";
}
.icon-add:before {
	content: "h";
}
.icon-filter:before {
	content: "i";
}
.icon-filter-collapse:before {
	content: "j";
}
.icon-filter-expand:before {
	content: "k";
}
.icon-question:before {
	content: "l";
}
.icon-priority:before {
	content: "m";
}
.icon-reset-col:before {
	content: "n";
}
.icon-follow-up:before {
	content: "o";
}
.icon-grippies:before {
	content: "p";
}
.icon-right-arrow:before {
	content: "q";
}
.icon-sort-asc:before {
	content: "r";
}
.icon-sort-desc:before {
	content: "s";
}
.icon-help:before {
	content: "t";
}
.icon-sub:before {
	content: "u";
}
.icon-delete:before {
	content: "v";
}
.icon-import:before {
	content: "w";
}
.icon-incoming:before {
	content: "x";
}
.icon-chevron-down:before {
	content: "y";
}
.icon-paging-first:before {
	content: "z";
}
.icon-paging-next:before {
	content: "A";
}
.icon-paging-last:before {
	content: "B";
}
.icon-paging-previous:before {
	content: "C";
}
.icon-circle:before {
	content: "D";
}
.icon-minus:before {
	content: "E";
}
.icon-plus:before {
	content: "F";
}
.icon-checkmark:before {
	content: "G";
}
.icon-export:before {
	content: "H";
}
.icon-print:before {
	content: "I";
}
.icon-step-complete:before {
	content: "J";
}
.icon-close:before {
	content: "K";
}
.icon-move-last:before {
	content: "1";
}
.icon-move-next:before {
	content: "2";
}
.icon-move-previous:before {
	content: "3";
}
.icon-move-first:before {
	content: "4";
}
.icon-move-to-top:before {
	content: "5";
}
.icon-move-up:before {
	content: "6";
}
.icon-move-down:before {
	content: "7";
}
.icon-move-to-bottom:before {
	content: "8";
}