<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LogConfigurationFilePath=" value="LogConfig.xml"/>
	</appSettings>
	<system.webServer>
		<modules>
			<remove name="ASPxHttpHandlerModule" />
		</modules>
	</system.webServer>
	<location path="logconfig.xml">
		<system.web>
			<authorization>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>