<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILMerge" version="2.14.1208" targetFramework="net45" />
  <package id="kCura.EventHandler" version="9.5.142.40" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
</packages>