<RunSettings>
  <TestRunParameters>
    <Parameter name="ServerBindingType" value="https" />
    <Parameter name="RelativityHostAddress" value="reg-b.r1.kcura.com" />
    <Parameter name="RsapiServicesHostAddress" value="reg-b-services.r1.kcura.com" />
    <Parameter name="AdminUsername" value="rip.jenkins@rip.com" />
    <Parameter name="AdminPassword" value="Test1234!" />

    <Parameter name="UI.UseTapiForFileCopy" value="true"/>
    <Parameter name="UI.WaitForPageInSec" value="180"/>
    <Parameter name="UI.BrowserPath" value="..\..\..\buildtools\Relativity.Chromium.Portable\tools\Chrome.exe" />
  </TestRunParameters>
</RunSettings>