<RunSettings>
  <TestRunParameters>
    <Parameter name="ServerBindingType" value="https" />
    <Parameter name="RelativityHostAddress" value="regression-a.r1.kcura.com" />
    <Parameter name="RsapiServicesHostAddress" value="regression-a-services.r1.kcura.com" />
    <Parameter name="AdminUsername" value="rip.jenkins@rip.com" />
    <Parameter name="AdminPassword" value="Test1234!" />
  </TestRunParameters>
</RunSettings>