[*.cs]

# RG2013: Namespace Count
dotnet_diagnostic.RG2013.severity = warning

# RG2002: Class Count
dotnet_diagnostic.RG2002.severity = warning

# RG2007: Explicit Type Declaration
dotnet_diagnostic.RG2007.severity = warning
