<div class="modal-header">
    <div class="modal-title">
        Create Production Set
    </div>
</div>
<div class="card">
    <div class="field-row" style="padding: 10px 20px;">
        <div class="field-label required" style="min-width: 150px;" data-bind="text: model.propName"></div>
        <div class="field-value">
            <input id="client-id" style="min-width: 250px;" data-bind="value: newProductionSetName" />
        </div>
    </div>
</div>
<div class="modal-footer">
    <button id="create-production-set-create-button" style="min-width: 80px;" class="ActionButton" data-bind="click: create">Create</button>
    <button id="create-production-set-cancel-button" style="min-width: 80px;" class="ActionButton" data-bind="click: cancel">Cancel</button>
</div>
