<link type="text/css" rel="stylesheet" href="~/Content/create-production-set.css" />

<div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-dialog-information">
	<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
		<span class="ui-dialog-title" id="ui-dialog-title-msgDiv">Creating the Production Set</span>
	</div>
	
	<div id="statusInProgress" data-bind="visible: creatingStatus() === 0" class="ui-dialog-content ui-widget-content">
		<div class="field-row">
			<img class="loading-dialog-img" alt="loading dialog"/>
		</div>
		<div class="field-row">
			<label class="italic">There might be a slight delay while the production set is created in the destination workspace.</label>
		</div>
	</div>
	
	<div id="statusSuccess" data-bind="visible: creatingStatus() === 1" class="ui-dialog-content ui-widget-content" >
		<div class="field-row">
			<img class="success-img" alt="success"/>
			<label>The Production set was created successfully.</label>
		</div>
		<div class="field-row">
			<label class="italic">The newly created production set will automatically be set as the destination production set.</label>
		</div>
	</div>
	
	<div id="statusFail" data-bind="visible: creatingStatus() === 2" class="ui-dialog-content ui-widget-content">
		<div class="field-row">
			<img class="error-img" alt="error" />
			<label>The production set can not be created.</label>
		</div>
	</div>
	<div class="popupArtifactActionBar" data-bind="visible: creatingStatus() === 1 || creatingStatus() === 2">
		<button id="close-production-set-cancel-button" style="min-width: 80px;" class="ActionButton" data-bind="click: close">Close</button>
	</div>
</div>
