<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="kCura.Config" type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	<appSettings>
		<!-- Service Bus specific app setings for messaging connections -->
		<add key="ProtocolVersion" value="https"/>
		<add key="targetHost" value="dv-pol-pl1.testing.corp" />
		<add key="relativityUserName" value="relativity.admin@kcura.com" />
		<add key="relativityPassword" value="Test1234!" />
		<add key="databaseUserId" value="EDDSdbo" />
		<add key="databasePassword" value="P@ssw0rd@1" />
		<add key="connectionStringEDDS" value="data source={0};initial catalog=EDDS;persist security info=False;user id={1};password={2}; workstation id={0};packet size=4096" />
		<add key="connectionStringWorkspace" value="data source={1}; initial catalog=EDDS{0};persist security info=False;user id={2};password={3}; workstation id={1};packet size=4096" />
		<add key="relativityUserFirstName" value="Relativity" />
		<add key="relativityUserLastName" value="Admin" />
		<add key="buildPackages" value="\\bld-pkgs.kcura.corp\Packages\IntegrationPoints" />
		<add key="branch" value="develop" />
		<add key="applicationPath" value="RAP" />
		<add key="applicationRapFileName" value="RelativityIntegrationPoints.Auto.rap" />
		<add key="ldapConnectionPath" value="kcura.corp/OU=Employees,OU=Accounts,OU=kCura,DC=kCura,DC=corp" />
		<add key="ldapUsername" value="kcura\tv" />
		<add key="ldapPassword" value="kCuraM0bileTelevision$" />
		<add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://[your namespace].servicebus.windows.net;SharedSecretIssuer=owner;SharedSecretValue=[your secret]" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="SavedSearchArtifactName" value="All Documents" />
		<add key="ViewArtifactName" value="Documents" />
		<add key="AdditionalFieldNames" value="Email BCC,Email CC,Email From,Email To" />
		<add key="LongTextFieldName" value="Extracted Text" />
		<add key="DestinationPath" value="c:\RIP_ExportTest" />
		<add key="UseLocalRAP" value="false"/>
		<add key="LocalRAPFileLocation" value ="C:\SourceCode\integrationpoints\Applications\RelativityIntegrationPoints.Auto.rap"/>
	</appSettings>
	<kCura.Config>
		<add key="connectionString" value="data source=dv-pol-pl1.testing.corp; initial catalog=EDDS;persist security info=False;user id=EDDSdbo;password=P@ssw0rd@1; workstation id=dv-pol-pl1.testing.corp;packet size=4096" />
	</kCura.Config>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.FullNetFx" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>