<RunSettings>
  <TestRunParameters>
    <Parameter name="IsTrident" value="true" />
    <Parameter name="AzureStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=integrationpointsstorage;AccountKey=3zVjUzYEz5rlvTkj8mfTSRcJJR0TnLHuI19syy718wjj8JjizrT2KLLgtgf8/G30VQuCQDEf1KqVYxuX2igtsQ==;EndpointSuffix=core.windows.net" />
    <Parameter name="AzureStoragePerformanceContainer" value="performance-tests" />
    <Parameter name="ARMRapPath" value="C:\_Work\_Temp\ARM\ARM_11.1.0.71.rap" />
    <Parameter name="ARMTestServicesRapPath" value="C:\_Work\_Temp\ARM\ARMTestServices.rap" />
  </TestRunParameters>
</RunSettings>