<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net462" />
  <package id="CSharpGuidelineAnalyzer" version="1.0.3.0" targetFramework="net462" developmentDependency="true" />
  <package id="kCura" version="9.5.352.94" targetFramework="net462" />
  <package id="kCura.Agent" version="9.5.352.94" targetFramework="net462" />
  <package id="kCura.Injection" version="9.5.352.94" targetFramework="net462" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net462" />
  <package id="NSubstitute" version="1.10.0.0" targetFramework="net452" />
  <package id="NUnit" version="3.4.1" targetFramework="net452" />
  <package id="Relativity" version="9.5.352.94" targetFramework="net462" />
  <package id="Relativity.API" version="9.5.352.94" targetFramework="net462" />
  <package id="Relativity.Authentication.Interfaces" version="9.5.352.94" targetFramework="net462" />
  <package id="Relativity.Logging.Interfaces" version="9.4.300" targetFramework="net462" />
  <package id="Relativity.ServiceBus" version="2.2.5" targetFramework="net462" />
  <package id="Relativity.ServiceBus.PriorityQueue" version="9.5.352.94" targetFramework="net462" />
  <package id="Relativity.ServiceBus.Provider.Azure" version="2.2.5" targetFramework="net462" />
  <package id="Relativity.ServiceBus.Provider.Windows1_1" version="2.2.5" targetFramework="net462" />
  <package id="Relativity.ServiceBus.Utilities" version="9.5.352.94" targetFramework="net462" />
  <package id="Relativity.Toggles" version="1.0.0.68" targetFramework="net462" />
  <package id="Relativity.Vfs" version="1.0.20" targetFramework="net462" />
  <package id="ServiceBus.v1_1" version="1.0.5" targetFramework="net462" />
</packages>